<app-breadcrumbs id="section" *ngIf="!registerFlag&&!updateFlag"  [showBackButton]="false"  class=" border-[#a19f9d] rounded-t-sm"></app-breadcrumbs>
<p-toast />
<!--
<div class="flex-column w-full">
    <p-panel header="{{'پیام ها'}}" *ngIf="!registerFlag && !updateFlag" class="">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 my-10 mx-5 " [formGroup]="managementForm">
            <div class="">
                <label class="normal-label"> <span >{{'شناسه واحد پیام' | transloco}} :</span></label><br>
                <input formControlName="messageId" pKeyFilter="int" class="w-full"
                       (keydown.enter)="onKeydown($event)" pInputText>
            </div>
            <div class="">
                <label class="normal-label"> <span >{{'کد پیام' | transloco}} :</span></label><br>
                <input formControlName="code" pKeyFilter="int" class="w-full"
                       (keydown.enter)="onKeydown($event)" pInputText>
            </div>
            <div class="mt-2 md:mt-12 lg:mt-12 ml-4 md:ml-20 lg:ml-20 text-left" >
                <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                        class="normal-button" icon="pi pi-search" (click)="search()"></button>&nbsp;&nbsp;
                <button pButton label="{{'پاکسازی' | transloco}}" [outlined]="true" icon="pi pi-filter-slash"
                        style="margin: 6px" (click)="clear()"></button>
            </div>
            <div class="">
                <label class="normal-label"> <span >{{'عنوان پیام' | transloco}} :</span></label><br>
                <input formControlName="title" (keydown.enter)="onKeydown($event)" class="w-full" pInputText>
            </div>

            <div class="">
                <label class="normal-label"> <span >{{'بخش پیام ها' | transloco}} :</span></label><br>
                <p-select
                    class="w-full"
                    [options]="categoryMessages"
                    optionValue="code"
                    optionLabel="name"
                    formControlName="tableId"
                    (onChange)="search()">
                </p-select>
            </div>
            <div class=" ">
                <label class="normal-label"> <span >{{'نوع پیام ها' | transloco}} :</span></label><br>
                <p-select class="w-full"
                    [options]="typeMessages"
                    optionValue="code"
                    optionLabel="name"
                    formControlName="type"
                    (onChange)="search()">
                </p-select>
            </div>



        </div>
        <p-accordion [value]="['0']" [multiple]="true" class="px-5">
            <p-accordion-panel class="isSystemMessage" value="0">
                <p-accordion-header>پیام های سیستمی</p-accordion-header>
                <p-accordion-content>
                    <p-table [value]="messagesLIstIsSystemMessage" *ngIf="tblFlag" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             [paginatorDropdownScrollHeight]="'100px'"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="messageId" class="messageId" >
                                    {{'شناسه واحد پیام' | transloco}}
                                    <p-sortIcon field="messageId"></p-sortIcon>
                                </th>
                                <th class="code" pSortableColumn="code" >
                                    {{'کد پیام' | transloco}}
                                    <p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="title" class="title" >
                                    {{'عنوان پیام' | transloco}}
                                    <p-sortIcon field="title"></p-sortIcon>
                                </th>
                                <th pSortableColumn="text" class="text" >
                                    {{'پیام(فارسی)' | transloco}}
                                    <p-sortIcon field="text"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tableId" class="tableId" >
                                    {{'بخش پیام ها' | transloco}}
                                    <p-sortIcon field="tableId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="type" class="type" >
                                    {{'نوع پیام ها' | transloco}}
                                    <p-sortIcon field="type"></p-sortIcon>
                                </th>
                                <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >
                                    {{'operation' | transloco}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="messageId"
                                    [pTooltip]="messages.messageId"
                                    [tooltipDisabled]="messages.messageId?messages.messageId.length < 20:false"
                                >
                                    {{messages.messageId|moreChar19}}
                                </td>
                                <td class="code"
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.code|moreChar19}}
                                </td>
                                <td class="title"
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td class="text"
                                    [pTooltip]="messages.text"
                                    [tooltipDisabled]="messages.text?messages.text.length < 20:false"
                                >
                                    {{messages.text|moreChar19}}</td>
                                <td class="tableId">
                                    {{messages.tableId|messagesCategory}}</td>
                                <td class="type">{{messages.type|messageType}}</td>
                                <td class="text-right border-r border-[#ebe8e8]" >
                                    <button class="p-button-rounded  "
                                            pButton icon="pi pi-pencil" pTooltip="{{'ویرایش' | transloco}}"
                                            (click)="showUpdate(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel [value]="['1']">
                <p-accordion-header>{{'پیام های غیرسیستمی' | transloco}}</p-accordion-header>
                <p-accordion-content>
                    <div class="w-full">
                        <button pButton label="{{'پیام جدید' | transloco}}" style="width: 160px;margin: 6px"
                                class="normal-button" icon="pi pi-plus" (click)="showRegister()"></button>&nbsp;&nbsp;
                    </div>
                    <p-table [value]="messagesLNottIsSystemMessage" *ngIf="tblFlag" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             currentPageReportTemplate="{{ 'pagination.display' | transloco: { first: first, last: last, totalRecords: totalRecords } }}"
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="7" class="text-center">{{'اطلاعاتی برای نمایش وجود ندارد.'}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="messageId" class="messageId" >
                                    شناسه واحد پیام
                                    <p-sortIcon field="messageId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="code" class="code" >
                                    کد پیام
                                    <p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="title" class="title" >
                                    عنوان پیام
                                    <p-sortIcon field="title"></p-sortIcon>
                                </th>
                                <th pSortableColumn="text" class="text" >
                                    پیام(فارسی)
                                    <p-sortIcon field="text"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tableId" class="tableId" >
                                    بخش پیام ها
                                    <p-sortIcon field="tableId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="type" class="type" >
                                    نوع پیام ها
                                    <p-sortIcon field="type"></p-sortIcon>
                                </th>
                                <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >
                                    operation
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="messageId"
                                    [pTooltip]="messages.messageId"
                                    [tooltipDisabled]="messages.messageId?messages.messageId.length < 20:false"
                                >
                                    {{messages.messageId|moreChar19}}
                                </td>
                                <td class="code"
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.code|moreChar19}}
                                </td>
                                <td class="title"
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td class="text"
                                    [pTooltip]="messages.text"
                                    [tooltipDisabled]="messages.text?messages.text.length < 20:false"
                                >
                                    {{messages.text|moreChar19}}</td>
                                <td class="tableId">{{messages.tableId|messagesCategory}}</td>
                                <td class="type">{{messages.type|messageType}}</td>
                                <td class="text-right border-r border-[#ebe8e8]" >
                                    <button class="p-button-rounded  "
                                            pButton  pTooltip="ویرایش"
                                            (click)="showUpdate(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>

            </p-accordion-panel>
        </p-accordion>
    </p-panel>

    <div class="col-12" *ngIf="registerFlag">
        <app-messages-register (close)="onCloseAndUpdate($event)"></app-messages-register>
    </div>
    <div class="col-12" *ngIf="updateFlag">
        <app-messages-update [inputUpdate]="updateMessageDto" (close)="onCloseAndUpdate($event)"></app-messages-update>
    </div>
</div>
-->
<div class="flex flex-col w-full text-[#0c0c0c] rounded-t-sm" *ngIf="!registerFlag&&!updateFlag">

        <div class="grid grid-cols-12 content-page" [formGroup]="managementForm" *ngIf="!registerFlag && !updateFlag">
            <div class="col-span-3 flex text-left   h-12 gap-2 mt-5-5  sm:hidden ">
                <button
                    pButton
                    label="{{'button.search' | transloco}}"
                    icon="pi pi-search"
                    (click)="search()"
                    class="normal-button "
                ></button>
                <button
                    pButton
                    label="{{'button.clear' | transloco}}"
                    icon="pi pi-filter-slash"
                    (click)="clear()" [outlined]="true"
                    class="normal-button"
                ></button>
            </div>
            <div class="col-span-3">
                <label class="normal-label">{{ 'messagesManagement.input.messageId' | transloco }}:</label>
                <input
                    formControlName="messageId"
                    pKeyFilter="int"
                    (keydown.enter)="onKeydown($event)"
                    pInputText
                    class="normal-input "
                />
            </div>
            <div class="col-span-3">
                <label class="normal-label">{{ 'messagesManagement.table.header.code' | transloco }}:</label>
                <input
                    formControlName="code"
                    pKeyFilter="int"
                    (keydown.enter)="onKeydown($event)"
                    pInputText
                    class="normal-input "
                />
            </div>
          <!--  <div class="hidden sm:flex  sm:col-span-6  text-left   h-12 gap-2 mt-5-5 ">
                <button
                    pButton
                    label="{{'button.search' | transloco}}"
                    icon="pi pi-search"
                    (click)="search()"
                    class="w-[110px] my-1 px-4 py-2  text-white rounded "
                ></button>
                <button
                    pButton
                    label="{{'button.clear' | transloco}}"
                    icon="pi pi-filter-slash" severity="help"
                    (click)="clear()" [outlined]="true"
                    class="my-1 px-4  py-2 border   rounded "
                ></button>
            </div>-->
            <div class="hidden sm:flex sm:col-span-6 justify-start items-center gap-2 h-12 mt-5-5 rtl:flex-row-reverse">
                <button
                    pButton
                    label="{{'button.clear' | transloco}}"
                    icon="pi pi-filter-slash"
                    (click)="clear()"
                    [outlined]="true"
                    class="normal-button"
                ></button>
                <button
                    pButton
                    label="{{'button.search' | transloco}}"
                    icon="pi pi-search"
                    class="normal-button"
                    (click)="search()"
                ></button>
            </div>
            <div class="col-span-3">
                <label class="normal-label">{{ 'input.titleMessage' | transloco }}:</label>
                <input
                    formControlName="title"
                    (keydown.enter)="onKeydown($event)"
                    pInputText
                    class="normal-input "
                />
            </div>
            <div class="col-span-3">
                <label class="normal-label">{{ 'dropdown.categoryMessages' | transloco }}:</label>
                <p-select
                    class="normal-dropdown"
                    [options]="categoryMessages"
                    optionValue="code"
                    optionLabel="name"
                    formControlName="tableId"
                    (onChange)="search()"
                ></p-select>
            </div>
            <div class="col-span-3">
                <label class="normal-label">{{ 'dropdown.typeMessages' | transloco }}:</label>
                <p-select
                    class="normal-dropdown"
                    [options]="typeMessages"
                    optionValue="code"
                    optionLabel="name"
                    formControlName="type"
                    (onChange)="search()"
                ></p-select>
            </div>
        </div>
        <p-accordion [value]="['1']" [multiple]="true" class="px-5">
            <p-accordion-panel class="isSystemMessage" value="0">
                <p-accordion-header>{{'messagesManagement.header.messagesIsSystemMessage'|transloco}}</p-accordion-header>
                <p-accordion-content>
                    <p-table [value]="messagesLIstIsSystemMessage" *ngIf="tblFlag" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             [currentPageReportTemplate]="this.paginationLabel"
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="messageId" class="messageId" >
                                    <span [transloco]="'messagesManagement.table.header.messageId'"></span>
                                    <p-sortIcon field="messageId"></p-sortIcon>
                                </th>
                                <th class="code" pSortableColumn="code" >
                                    <span [transloco]="'messagesManagement.table.header.code'"></span>
                                    <p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="title" class="title" >
                                    <span [transloco]="'messagesManagement.table.header.title'"></span>
                                    <p-sortIcon field="title"></p-sortIcon>
                                </th>
                                <th pSortableColumn="text" class="text" >
                                    <span [transloco]="'messagesManagement.table.header.faMessage'"></span>
                                    <p-sortIcon field="text"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tableId" class="tableId" >
                                    <span [transloco]="'messagesManagement.table.header.tableId'"></span>
                                    <p-sortIcon field="tableId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="type" class="type" >
                                    <span [transloco]="'messagesManagement.table.header.type'"></span>
                                    <p-sortIcon field="type"></p-sortIcon>
                                </th>
                                <th class="text-right border-r border-[#ebe8e8]" >
                                    <span [transloco]="'messagesManagement.table.header.operation'"></span>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="messageId"
                                    [pTooltip]="messages.messageId"
                                    [tooltipDisabled]="messages.messageId?messages.messageId.length < 20:false"
                                >
                                    {{messages.messageId|moreChar19}}
                                </td>
                                <td class="code"
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.code|moreChar19}}
                                </td>
                                <td class="title"
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td class="text"
                                    [pTooltip]="messages.text"
                                    [tooltipDisabled]="messages.text?messages.text.length < 20:false"
                                >
                                    {{messages.text|moreChar19}}</td>
                                <td class="tableId">
                                    {{messages.tableId|messagesCategory}}</td>
                                <td class="type">{{messages.type|messageType}}</td>
                                <td class="text-right border-r border-[#ebe8e8]">
                                    <button class="p-button-rounded "
                                            pButton icon="pi pi-pencil" pTooltip="{{'button.edit'|transloco}}"
                                            (click)="showUpdate(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>
            </p-accordion-panel>
            <p-accordion-panel value="1">
                <p-accordion-header>{{ 'messagesManagement.header.messagesNotIsSystemMessage' | transloco }}</p-accordion-header>
                <p-accordion-content>
                    <div class="w-full mb-4">
                        <button
                            pButton
                            label="{{'messagesManagement.button.newMessage' | transloco}}"
                            icon="pi pi-plus"
                            (click)="showRegister()"
                            class="normal-button "
                        ></button>
                    </div>

                    <p-table [value]="messagesLNottIsSystemMessage" *ngIf="tblFlag" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             [currentPageReportTemplate]="paginationLabel" [paginatorDropdownAppendTo]="'body'"
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="messageId" class="messageId" >
                                    <span [transloco]="'messagesManagement.table.header.messageId'"></span>
                                    <p-sortIcon field="messageId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="code" class="code " >
                                    <span [transloco]="'messagesManagement.table.header.code'"></span>
                                    <p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="title" class="title" >
                                    <span [transloco]="'messagesManagement.table.header.title'"></span>
                                    <p-sortIcon field="title"></p-sortIcon>
                                </th>
                                <th pSortableColumn="text" class="text" >
                                    <span [transloco]="'messagesManagement.table.header.faMessage'"></span>
                                    <p-sortIcon field="text"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tableId" class="tableId" >
                                    <span [transloco]="'messagesManagement.table.header.tableId'"></span>
                                    <p-sortIcon field="tableId"></p-sortIcon>
                                </th>
                                <th pSortableColumn="type" class="type" >
                                    <span [transloco]="'messagesManagement.table.header.type'"></span>
                                    <p-sortIcon field="type"></p-sortIcon>
                                </th>
                                <th class="text-right border-r border-[#ebe8e8]" >
                                    <span [transloco]="'messagesManagement.table.header.operation'"></span>

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="messageId"
                                    [pTooltip]="messages.messageId"
                                    [tooltipDisabled]="messages.messageId?messages.messageId.length < 20:false"
                                >
                                    {{ messages.messageId|moreChar19 }}
                                </td>
                                <td class="code"
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{ messages.code|moreChar19 }}
                                </td>
                                <td class="title"
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{ messages.title|moreChar19 }}
                                </td>
                                <td class="text"
                                    [pTooltip]="messages.text"
                                    [tooltipDisabled]="messages.text?messages.text.length < 20:false"
                                >
                                    {{ messages.text|moreChar19 }}
                                </td>
                                <td class="tableId">{{ messages.tableId|messagesCategory }}</td>
                                <td class="type">{{ messages.type|messageType }}</td>
                                <td class="text-right border-r border-[#ebe8e8]">
                                    <button class="p-button-rounded "
                                            pButton icon="pi pi-pencil"  pTooltip="{{'button.edit'|transloco}}"
                                            (click)="showUpdate(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>


</div>
<div class="col-span-12" *ngIf="registerFlag">
    <app-messages-register (close)="onCloseAndUpdate($event)"></app-messages-register>
</div>
<div class="col-span-12" *ngIf="updateFlag">
    <app-messages-update [inputUpdate]="updateMessageDto" (close)="onCloseAndUpdate($event)"></app-messages-update>
</div>
