<p-panel header="{{'انتخاب قاعده و پیام' | transloco}}">
    <p-panel header="انتخاب قاعده">
        <div class="grid grid-cols-12">

            <!--
            <div class="col-4">
                <label class="normal-label"> <span >نام قاعده کلاینت :</span></label><br>
                <input [(ngModel)]="name" pInputText>
            </div>
            <div class="col-4"></div>
             <div class="col-4" dir="ltr">
            <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 3px;margin-top: 20px"
                        class="btnSearch btnSearchModoule" icon="pi pi-search"
                        (click)="search()"></button>&nbsp;&nbsp;
                <button pButton label="{{'button.clear'|transloco}}" [outlined]="true" icon="pi pi-filter-slash"
                        style="margin: 3px;margin-top: 20px" (click)="clear()"></button>
                          </div>-->
            <div class="col-4">
                <label class="normal-label"> <span >شناسه قاعده :</span></label><br>
                <div class="lblDetailsLeft">
                    <label class="text-gray-700 ftextDetails">{{this.ruleId}}</label>
                </div>
            </div>
            <div class="col-4">
                <label class="normal-label"> <span >نام :</span></label><br>
                <div class="lblDetailsRight">
                    <label class="text-gray-700 ftextDetails">{{this.ruleName}}</label>
                </div>
            </div>
            <div class="col-4" dir="ltr">
                <button (click)="search()"
                        style="width: 30px!important;height: 30px!important;
                        margin-top:15px" pButton
                        icon="pi pi-external-link"
                        matTooltip="{{'انتخاب قاعده' | transloco}}"></button>&nbsp;
                <button style="width: 30px!important;height: 30px!important;margin-top: 2px!important;"
                        matTooltip="{{'پاکسازی قاعده' | transloco}}" (click)="clear()"
                        pButton  class="my-1 px-4 py-2 border normal-button" [outlined]="true"
                        icon="pi pi-filter-slash"></button>&nbsp;
            </div>
        </div>
    </p-panel>
    <br>
    <p-panel header="انتخاب پیام">
        <div class="grid grid-cols-12">
            <div class="col-4">
                <label class="normal-label"> <span >کد وضعیت :</span></label><br>
                <p-dropdown
                    [options]="statusCodeOptions"
                    [(ngModel)]="statusCode"
                    optionValue="code"
                    optionLabel="name"
                >
                    <!--                        (onChange)="onchangeStatusCode()"-->
                </p-dropdown>
            </div>
            <div class="col-8" dir="ltr">
                <button (click)="showMessage()"
                        style="width: 30px!important;height: 30px!important;
                        margin-top:15px" pButton
                        icon="pi pi-external-link"
                        matTooltip="{{'انتخاب پیام' | transloco}}"></button>&nbsp;
                <button style="width: 30px!important;height: 30px!important;margin-top: 2px!important;"
                        matTooltip="{{'پاکسازی پیام' | transloco}}" (click)="deleteMessage()"
                        pButton [outlined]="true" icon="pi pi-filter-slash"></button>&nbsp;

            </div>
            <div class="col-4">
                <label class="normal-label"> <span >شناسه واحد پیام :</span></label><br>
                <div class="lblDetailsLeft">
                    <label class="text-gray-700 ftextDetails">{{this.messageId}}</label>
                </div>
            </div>
            <div class="col-4">
                <label class="normal-label"> <span >عنوان پیام :</span></label><br>
                <div class="lblDetailsRight">
                    <label class="text-gray-700 ftextDetails">{{this.title}}</label>
                </div>
            </div>
        </div>

    </p-panel>
    <br>
    <div *ngIf="tableFlag">
        <p-card>
            <p-table [value]="ruleList" selectionMode="single"
                     [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                     [currentPageReportTemplate]=paginationLabel
                     [rowsPerPageOptions]="[5,10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="ruleId" class="ruleId" >
                            شناسه قاعده
                            <p-sortIcon field="ruleId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name" class="name" >
                            نام
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ruleTemplate" class="ruleTemplate" >
                            متن خطا
                            <p-sortIcon field="ruleTemplate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="httpsstatus" class="httpsstatus" >
                            کد وضعیت
                            <p-sortIcon field="httpsstatus"></p-sortIcon>
                        </th>
                        <th pSortableColumn="messageTitle" class="messageTitle" >
                            عنوان پیام
                            <p-sortIcon field="messageTitle"></p-sortIcon>
                        </th>

                        <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >operation
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-roule>
                    <tr [pSelectableRow]="roule">
                        <td class="ruleId">{{roule.ruleId}}</td>
                        <td class="name"
                            [pTooltip]="roule.name"
                            [tooltipDisabled]="roule.name?roule.name.length < 20:false"
                        >
                            {{roule.name|moreChar19}}
                        </td>
                        <td class="ruleTemplate">{{roule.ruleTemplate|formatRule}}</td>
                        <td class="httpsstatus"
                            [pTooltip]="roule.httpsstatus"
                            [tooltipDisabled]="roule.httpsstatus?roule.httpsstatus.length < 20:false"
                        >
                            {{roule.httpsstatus|moreChar19}}
                        </td>
                        <td class="messageTitle"
                            [pTooltip]="roule.messageTitle"
                            [tooltipDisabled]="roule.messageTitle?roule.messageTitle.length < 20:false"
                        >
                            {{roule.messageTitle|moreChar19}}
                        </td>
                        <td dir="ltr">
                            <button pButton label="انتخاب قاعده" icon="pi pi-check"
                                    (click)="selectedRule(roule)"></button>&nbsp;
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <br>

    <div class="col-12" dir="ltr" style="margin-top: 5px">
        <button pButton label="{{'button.cancel' | transloco}}"
                 severity="danger"  icon="pi pi-times" [outlined]="true"
                (click)="onCancel()"></button>&nbsp;
        <button pButton severity="success" label="{{'ثبت اطلاعات' | transloco}}" icon="pi pi-save"
                (click)="onRegister()"></button>
    </div>
</p-panel>
<p-dialog [style]="{'width':'55%'}" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" appendTo="body"
          [resizable]="true">
    <p-panel header="{{'انتخاب پیام ها' | transloco}}">
        <div class="grid grid-cols-12">
            <div class="grid grid-cols-12">
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >کد پیام :</span></label><br>
                    <input disabled [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >عنوان پیام :</span></label><br>
                    <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >پیام(فارسی) :</span></label><br>
                    <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label"> <span >پیام(انگلیسی) :</span></label><br>
                    <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >بخش پیام ها :</span></label><br>
                    <p-dropdown
                        appendTo="body"
                        [options]="categoryMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="tableIdMessage"
                        (keydown.enter)="onKeydownSearch($event)">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >نوع پیام ها :</span></label><br>
                    <p-dropdown
                        appendTo="body"
                        [options]="typeMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="typeMessage"
                        (keydown.enter)="onKeydownSearch($event)">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <button pButton style="margin: 6px"
                            severity="success" dir="ltr"
                            label="{{'ثبت اطلاعات و انتخاب پیام' | transloco}}"
                            icon="pi pi-save"
                            (click)="onRegisterMessage()"></button>&nbsp;
                </div>
                <div class="col-8" dir="ltr">

                    <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                            class="normal-button" icon="pi pi-search" (click)="messageSearch()"></button>&nbsp;&nbsp;
                    <button pButton label="{{'button.clear'|transloco}}"  class="my-1 px-4 py-2 border normal-button"
                            [outlined]="true"
                            icon="pi pi-filter-slash"
                            style="margin: 6px" (click)="clear()"></button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-12">
                <p-card>
                    <p-table [value]="messagesList" selectionMode="single"
                             [paginator]="true" [rows]="rows2" [showCurrentPageReport]="true" [(first)]="first2"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >شناسه واحد پیام</th>
                                <th >کد پیام</th>
                                <th >عنوان پیام</th>
                                <th >بخش پیام ها</th>
                                <th >پیام سیستمی</th>
                                <th >operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="row">{{messages.messageId}}</td>
                                <td>{{messages.code}}</td>
                                <td
                                    [pTooltip]="messages.tableId"
                                    [tooltipDisabled]="messages.tableId?messages.tableId.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td>{{messages.tableId|messagesCategory}}</td>
                                <td>
                                    <img *ngIf="messages.isSystemMessage==1"  class="w-6 h-6 object-contain block"
                                         src="assets/icons/correct.jpeg">
                                    <img *ngIf="messages.isSystemMessage==0"  class="w-6 h-6 object-contain block"
                                         src="assets/icons/cross.jpeg">
                                </td>
                                <td dir="ltr">
                                    <button pButton label="انتخاب پیام" icon="pi pi-check"
                                            (click)="selectedMessage(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>


<p-dialog [style]="{'width':'55%'}" [(visible)]="tableFlag"
          [modal]="true" [draggable]="false" appendTo="body"
          [resizable]="true">
    <p-panel header="{{'انتخاب قاعده' | transloco}}">
        <div class="grid grid-cols-12">
            <div class="col-4">
                <label class="normal-label"> <span >نام قاعده کلاینت :</span></label><br>
                <input [(ngModel)]="name" pInputText>
            </div>
            <div class="col-4"></div>
            <div class="col-4" dir="ltr">
                <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 3px;margin-top: 20px"
                        class="btnSearch btnSearchModoule" icon="pi pi-search"
                        (click)="search()"></button>&nbsp;&nbsp;
                <button pButton label="{{'button.clear'|transloco}}"  class="my-1 px-4 py-2 border normal-button"
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        (click)="clear()"></button>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-12">
                <p-card>
                    <p-table [value]="messagesList" selectionMode="single"
                             [paginator]="true" [rows]="rows2" [showCurrentPageReport]="true" [(first)]="first2"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >شناسه واحد پیام</th>
                                <th >کد پیام</th>
                                <th >عنوان پیام</th>
                                <th >بخش پیام ها</th>
                                <th >پیام سیستمی</th>
                                <th >operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="row">{{messages.messageId}}</td>
                                <td>{{messages.code}}</td>
                                <td
                                    [pTooltip]="messages.tableId"
                                    [tooltipDisabled]="messages.tableId?messages.tableId.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td>{{messages.tableId|messagesCategory}}</td>
                                <td>
                                    <img *ngIf="messages.isSystemMessage==1"  class="w-6 h-6 object-contain block"
                                         src="assets/icons/correct.jpeg">
                                    <img *ngIf="messages.isSystemMessage==0"  class="w-6 h-6 object-contain block"
                                         src="assets/icons/cross.jpeg">
                                </td>
                                <td dir="ltr">
                                    <button pButton label="انتخاب پیام" icon="pi pi-check"
                                            (click)="selectedMessage(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>
