:host {
    width: 100%;
}
.row{
    width: 8%;
}
.title{
    width: 17%;
}
.schemaName{
    width: 17%;
}
.appDate{
    width: 11%;
}
.rdate{
    width: 11%;
}
.isApproval{
    width: 13%;
}
.status{
    width: 10%;
}