<!--
<div class="grid flex-col" id="section">
    <p-panel header="{{ 'registerRule.header.registerRule' | transloco }}">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 my-10 mx-5">
            <div>
                <label class="label-normal">
                    <span class="red-color-text">* </span>
                    <span>{{ 'registerRule.input.ruleName' | transloco }} :</span></label>
                <input [(ngModel)]="name" (keydown.enter)="onKeydown($event)" pInputText
                       class="border rounded p-2 w-full">
            </div>
            <div>
                <label class="label-normal"><span>{{ 'registerRule.dropdown.choosePublicErrorCode' | transloco }} :</span></label>
                <p-dropdown
                    [options]="generalErrorCodesOptions"
                    [(ngModel)]="generalErrorCodes"
                    optionValue="code" class="w-full"
                    (onChange)="onchangeGeneralErrorCodes()"
                    optionLabel="name"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>
            <div>
                <label class="label-normal"><span>{{ 'registerRule.dropdown.ruleTemplate' | transloco }} :</span></label>
                <p-dropdown
                    [options]="ruleTemplateOptions"
                    [(ngModel)]="ruleTemplate"
                    optionValue="code" class="w-full"
                    optionLabel="name"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>
            <div class="col-span-1">
                <label class="label-normal"><span>{{ 'registerRule.input.choosePublicErrorCode' | transloco }} :</span></label>
                <textarea dir="rtl" [(ngModel)]="errorText"
                          (keydown.enter)="onKeydown($event)" pTextarea
                          class="border rounded p-2 w-full"></textarea>
            </div>
            <p-panel header="{{ 'registerRule.header.messageAssignment' | transloco }}" class="w-full">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-10 mx-5">
                    <div>
                        <label class="label-normal"><span>{{ 'registerRule.detail.messageId' | transloco }} :</span></label>
                        <div class="lblDetailsRight">
                            <label class="text-gray-700 ftextDetails">{{ this.messageId }}</label>
                        </div>
                    </div>
                    <div>
                        <label class="label-normal"><span>{{ 'registerRule.detail.titleMessage' | transloco }} :</span></label>
                        <div class="lblDetailsRight">
                            <label class="text-gray-700 ftextDetails">{{ title }}</label>
                        </div>
                    </div>
                    <div dir="ltr" class="flex items-center">
                        <button (click)="showMessage()"
                                class="p-button-success w-8 h-8 mb-1" pButton
                                icon="pi pi-external-link"
                                matTooltip="{{ 'registerRule.tooltip.chooseMessage' | transloco }}"></button>&nbsp;
                        <button matTooltip="{{ 'registerRule.tooltip.deleteMessage' | transloco }}" (click)="deleteMessage()"
                                class="p-button-danger w-8 h-8 mb-1"
                                pButton icon="pi pi-trash"></button>
                    </div>
                    <div>
                        <label class="label-normal"><span>{{ 'registerRule.detail.tableId' | transloco }} :</span></label>
                        <div class="lblDetailsRight">
                            <label class="text-gray-700 ftextDetails">{{ tableId | tableId }}</label>
                        </div>
                    </div>
                    <div>
                        <label class="label-normal"><span>{{ 'registerRule.detail.faMessage' | transloco }} :</span></label>
                        <div class="lblDetailsRight">
                            <label class="text-gray-700 ftextDetails">{{ text }}</label>
                        </div>
                    </div>
                </div>
                <div hidden>
                    <label class="label-normal">
                        <span class="red-color-text">* </span>
                        <span>{{ 'message id' | transloco }} :</span></label>
                    <input [(ngModel)]="messageId" pInputText class="border rounded p-2">
                </div>
            </p-panel>
        </div>
        <div class="w-full" dir="ltr">
            <button pButton label="{{'button.cancel' | transloco}}"
                     severity="danger"  icon="pi pi-ban"
                    (click)="onCancel()"></button>&nbsp;
            <button pButton severity="success" label="{{'button.save' | transloco}}" icon="pi pi-save"
                    (click)="onRegister()"></button>
        </div>
    </p-panel>
</div>
<p-dialog [style]="{'width':'55%'}" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false"
          [resizable]="true">
    <p-panel header="{{ 'rule.dialog.header.chooseMessage' | transloco }}">
        <div class="w-full">
            <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-4 my-10 mx-5">
                <div>
                    <label class="label-normal">
                        <span class="red-color-text">* </span>
                        <span>{{ 'rule.dialog.input.codeMessage' | transloco }} :</span></label>
                    <input disabled [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText class="border rounded p-2">
                </div>
                <div>
                    <label class="label-normal">
                        <span class="red-color-text">* </span>
                        <span>{{ 'rule.dialog.input.messageTitle' | transloco }} :</span></label>
                    <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText class="border rounded p-2">
                </div>
                <div>
                    <label class="label-normal">
                        <span class="red-color-text">* </span>
                        <span>{{ 'rule.dialog.input.faMessage' | transloco }} :</span></label>
                    <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText class="border rounded p-2">
                </div>
                <div>
                    <label class="label-normal"><span>{{ 'rule.dialog.input.enMessage' | transloco }} :</span></label>
                    <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText class="border rounded p-2">
                </div>
                <div>
                    <label class="label-normal"><span>{{ 'rule.dialog.dropdown.tableId' | transloco }} :</span></label>
                    <p-dropdown
                        [options]="categoryMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="tableIdMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div>
                    <label class="label-normal"><span>{{ 'rule.dialog.dropdown.typeMessages' | transloco }} :</span></label>
                    <p-dropdown
                        [options]="typeMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="typeMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div>
                    <button pButton style="margin: 6px"
                            severity="success" dir="ltr"
                            label="{{ 'rule.dialog.button.registerChooseMessage' | transloco }}"
                            icon="pi pi-check"
                            (click)="onRegisterMessage()"></button>
                </div>
                <div dir="ltr">
                    <button pButton label="{{ 'button.search' | transloco }}" style="width: 110px; margin: 6px"
                            class="normal-button" icon="pi pi-search" (click)="search()"></button>
                    <button pButton label="{{ 'button.clear' | transloco }}" [outlined]="true"
                            icon="pi pi-filter-slash"
                            style="margin: 6px" (click)="clear()"></button>
                </div>
            </div>
            <div class="my-10"></div>
            <div>
                <p-card>
                    <p-table [value]="messagesList" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             [currentPageReportTemplate]="paginationLabel"
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row">{{ 'rule.dialog.table.header.messageId' | transloco }}</th>
                                <th>{{ 'rule.dialog.table.header.codeMessage' | transloco }}</th>
                                <th>{{ 'rule.dialog.table.header.titleMessage' | transloco }}</th>
                                <th>{{ 'rule.dialog.table.header.tableId' | transloco }}</th>
                                <th>{{ 'rule.dialog.table.header.isSystemMessage' | transloco }}</th>
                                <th>{{ 'rule.dialog.table.header.operation' | transloco }}</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="row">{{ messages.messageId }}</td>
                                <td
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{ messages.code|moreChar19 }}
                                </td>
                                <td
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{ messages.title|moreChar19 }}
                                </td>
                                <td>{{ messages.tableId|messagesCategory }}</td>
                                <td>
                                    <img *ngIf="messages.isSystemMessage==1"
                                         ngSrc="assets/icons/correct.jpeg" height="24" width="24">
                                    <img *ngIf="messages.isSystemMessage==0"
                                         ngSrc="assets/icons/cross.jpeg" height="24" width="24">
                                </td>
                                <td dir="ltr">
                                    <button pButton label="rule.dialog.table.button.chooseMessage" icon="pi pi-check"
                                            (click)="selectedMessage(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>



-->
<p-toast />
<app-breadcrumbs id="section" class="p-0 m-0" [showBackButton]="false"></app-breadcrumbs>


<div class="grid grid-cols-12 gap-4 my-10 mx-5 p-0 m-0">
    <div class="col-span-3 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-6 xl:grid-cols-6">
        <label class="normal-label">
            <span class="red-color-text">* </span>
            <span>{{ 'registerRule.input.ruleName' | transloco }} :</span>
        </label>
        <input [(ngModel)]="name" (keydown.enter)="onKeydown($event)" pInputText
               class="border rounded p-2 normal-input">
    </div>
    <div class="col-span-3 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-6 xl:grid-cols-6">
        <label class="normal-label">
            <span class="red-color-text">* </span>
            <span>{{ 'registerRule.dropdown.choosePublicErrorCode' | transloco }} :</span>
        </label>
        <p-dropdown
            [options]="generalErrorCodesOptions"
            [(ngModel)]="generalErrorCodes"
            optionValue="code"
            optionLabel="name"
            class="normal-dropdown"
            (onChange)="onchangeGeneralErrorCodes()"
            (keydown.enter)="onKeydown($event)">
        </p-dropdown>
    </div>
    <div class="col-span-3 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-6 xl:grid-cols-6">
        <label class="normal-label">
            <span>{{ 'registerRule.dropdown.ruleTemplate' | transloco }} :</span></label>
        <p-dropdown
            [options]="ruleTemplateOptions"
            [(ngModel)]="ruleTemplate"
            optionValue="code"
            optionLabel="name"
            class="normal-dropdown"
            (keydown.enter)="onKeydown($event)">
        </p-dropdown>
    </div>
    <div class="col-span-12">
        <label class="normal-label">
            <span class="red-color-text">* </span>
            <span>{{ 'registerRule.input.errorText' | transloco }} :</span></label>
        <textarea dir="rtl" [(ngModel)]="errorText"
                  (keydown.enter)="onKeydown($event)" pTextarea
                  class="border rounded p-2 xxx-gggg-12-input"></textarea>
    </div>


</div>
<p-panel header="{{ 'registerRule.header.messageAssignment' | transloco }}" >
    <!-- <div class="flex justify-start items-center mx-5 ">-->
    <div class="in-panel">
    <div class="grid grid-cols-12 gap-4 mx-5">
        <div class="col-span-4 ">
            <label class="normal-label"><span>{{ 'registerRule.detail.messageId' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ this.messageId }}</label>
            </div>
        </div>
        <div class="col-span-4">
            <label class="normal-label"><span>{{ 'registerRule.detail.titleMessage' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ title }}</label>
            </div>
        </div>
        <div class="col-span-4  flex justify-start items-center gap-0.5 h-12  rtl:flex-row-reverse">
            <button (click)="showMessage()"
                    class="bg-green-500 border-green-500 text-white w-8 h-8 mr-2 rounded-2xl flex items-center justify-center"
                    pButton icon="pi pi-external-link"
                    matTooltip="{{ 'registerRule.tooltip.chooseMessage' | transloco }}">
            </button>
            <button matTooltip="{{ 'registerRule.tooltip.deleteMessage' | transloco }}"
                    (click)="deleteMessage()"
                    class="bg-red-500 border-red-500 text-white w-8 h-8 rounded-2xl flex items-center justify-center"
                    pButton icon="pi pi-trash">
            </button>
        </div>
        <div class="col-span-4">
            <label class="normal-label"><span>{{ 'registerRule.detail.tableId' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ tableId | tableId }}</label>
            </div>
        </div>
        <div class="col-span-4">
            <label class="normal-label"><span>{{ 'registerRule.detail.faMessage' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ text }}</label>
            </div>
        </div>

    </div>
    <div>


        <div hidden>
            <label class="normal-label">
                <span class="text-red-500">*</span>
                <span>{{ 'message id' | transloco }} :</span>
            </label>
            <input [(ngModel)]="messageId" pInputText class="border rounded p-2">
        </div>
    </div>
    </div>
</p-panel>

<div class="w-full mt-4 text-left p-4">
    <button
        pButton severity="success"
        label="{{'button.save' | transloco}}"
        icon="pi pi-save" class="normal-button"
        (click)="onRegister()"></button> &nbsp;
    <button pButton label="{{'button.cancel' | transloco}}"
            severity="danger" icon="pi pi-times" class="normal-button"
            [outlined]="true" (click)="onCancel()"></button>

</div>

<p-dialog [style]="{ 'width': '55%' }" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" [resizable]="true">
    <p-panel header="{{ 'rule.dialog.header.chooseMessage' | transloco }}">

        <div class="grid grid-cols-12 md:grid-cols-12 lg:grid-cols-12 gap-4 my-2 mx-5">
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">*</span>
                    <span>{{ 'rule.dialog.input.codeMessage' | transloco }} :</span>
                </label>
                <input disabled [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)"
                       pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">*</span>
                    <span>{{ 'rule.dialog.input.messageTitle' | transloco }} :</span>
                </label>
                <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)"
                       pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">*</span>
                    <span>{{ 'rule.dialog.input.faMessage' | transloco }} :</span>
                </label>
                <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)"
                       [pKeyFilter]="cust_alphanumFa"  pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label"><span>{{ 'rule.dialog.input.enMessage' | transloco }} :</span></label>
                <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)"
                       [pKeyFilter]="cust_alphanumEn"   pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">* </span>
                    <span>{{ 'rule.dialog.dropdown.tableId' | transloco }} :</span></label>
                <p-dropdown
                    class="normal-dropdown"
                    [options]="categoryMessages"
                    optionValue="code"
                    optionLabel="name"
                    [(ngModel)]="tableIdMessage"
                    (onChange)="search()">
                </p-dropdown>
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">* </span>
                    <span>{{ 'rule.dialog.dropdown.typeMessages' | transloco }} :</span></label>
                <p-dropdown
                    class="normal-dropdown"
                    [options]="typeMessages"
                    optionValue="code"
                    optionLabel="name"
                    [(ngModel)]="typeMessage"
                    (onChange)="search()">
                </p-dropdown>
            </div>
            <div class=" sm:flex sm:col-span-4 justify-start items-center gap-2 h-12 mt-5-5 ">
                <button pButton
                        class="bg-green-500 border-green-500 text-white  my-1 px-4 py-2 border normal-button"
                        dir="ltr"
                        label="{{ 'rule.dialog.button.registerChooseMessage' | transloco }}"
                        icon="pi pi-check"
                        (click)="onRegisterMessage()"></button>
            </div>
            <div class=" sm:flex sm:col-span-8 justify-start items-center gap-2 h-12 mt-5-5 rtl:flex-row-reverse">

                <button pButton
                        label="{{ 'button.clear' | transloco }}"
                        class="my-1 px-4 py-2 border normal-button"
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        (click)="clear()"></button>
                <button pButton
                        label="{{ 'button.search' | transloco }}"
                        class="w-[110px] my-1 px-4 py-2 text-white normal-button"
                        icon="pi pi-search"
                        (click)="search()"></button>
            </div>
        </div>

        <div class="my-10"></div>

        <div>
            <p-table [value]="messagesList"
                     selectionMode="single"
                     [paginator]="true"
                     [rows]="rows"
                     [showCurrentPageReport]="true"
                     [(first)]="first"
                     [currentPageReportTemplate]="paginationLabel"
                     [rowsPerPageOptions]="[5,10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-right">
                            {{ 'rule.dialog.table.header.messageId' | transloco }}
                        </th>
                        <th>{{ 'rule.dialog.table.header.codeMessage' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.titleMessage' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.tableId' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.isSystemMessage' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.operation' | transloco }}</th>
                    </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                    <tr [pSelectableRow]="messages">
                        <td class="text-right">{{ messages.messageId }}</td>
                        <td [pTooltip]="messages.code"
                            [tooltipDisabled]="messages.code ? messages.code.length < 20 : false">
                            {{ messages.code | moreChar19 }}
                        </td>
                        <td [pTooltip]="messages.title"
                            [tooltipDisabled]="messages.title ? messages.title.length < 20 : false">
                            {{ messages.title | moreChar19 }}
                        </td>
                        <td>{{ messages.tableId | messagesCategory }}</td>
                        <td>
                            <img *ngIf="messages.isSystemMessage==1" class="w-6 h-6 object-contain block"
                                 src="assets/icons/correct.jpeg">
                            <img *ngIf="messages.isSystemMessage==0" class="w-6 h-6 object-contain block"
                                 src="assets/icons/cross.jpeg">
                        </td>
                        <td dir="ltr" class="flex justify-end items-center ">
                            <button pButton label="{{'rule.dialog.table.button.chooseMessage'|transloco}}"
                                    icon="pi pi-check" class="normal-button"
                                    (click)="selectedMessage(messages)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
</p-dialog>
