<div class="flex flex-col justify-center h-full w-full min-w-0">
    <div class="h-full w-full flex flex-col pt-2 px-2 gap-4 text-center" [formGroup]="formGroup">
        <!-- ردیف اول -->
        <div class="w-full flex flex-col md:flex-row gap-4 ">
            <div class="w-full md:w-1/3">
                <saffron-input [formGroup]="formGroup" [controlName]="'walletNo'" [placeholder]="'شماره کیف پول:'"></saffron-input>
                <mat-icon svgIcon="mat_outline:open_in_browser" class="icon-size-16"></mat-icon>
                <mat-icon svgIcon="heroicons_outline:wallet" class="icon-size-16"></mat-icon>
                <mat-icon svgIcon="heroicons_outline:rocket-launch" class="icon-size-16"></mat-icon>
                <mat-icon svgIcon="heroicons_outline:archive-box" class="icon-size-16"></mat-icon>
                <mat-icon svgIcon="heroicons_outline:archive-box" class="icon-size-8"></mat-icon>

            </div>
            <div class="w-full md:w-1/3">
                <saffron-select [formGroup]="formGroup" [controlName]="'walletType'" [list]="walletTypes" [placeholder]="'نوع کیف'"></saffron-select>
            </div>
            <div class="w-full md:w-1/3">
                <saffron-input [formGroup]="formGroup" [controlName]="'walletAmount'" [placeholder]="'مبلغ کیف پول:'"></saffron-input>
            </div>
        </div>

        <!-- ردیف دوم -->
        <div class="w-full flex flex-col md:flex-row gap-4 ">
<!--            <div class="w-full md:w-1/3 ">-->
                <saffron-input [formGroup]="formGroup" [controlName]="'walletNo'" [placeholder]="'شماره کیف پول:'"></saffron-input>
<!--            </div>-->
<!--            <div class="w-full md:w-1/3">-->
                <saffron-select [formGroup]="formGroup" [controlName]="'walletType'" [list]="walletTypes" [placeholder]="'نوع کیف'"></saffron-select>
<!--            </div>-->
<!--            <div class="w-full md:w-1/3">-->
                <saffron-input [formGroup]="formGroup" [controlName]="'walletAmount'" [placeholder]="'مبلغ کیف پول:'"></saffron-input>
<!--            </div>-->
        </div>
        <div class="w-full flex flex-col md:flex-row gap-4 ">
            <div class="w-full md:w-1/3 ">
                <saffron-input [formGroup]="formGroup" [controlName]="'walletNo'" [placeholder]="'شماره کیف پول:'"></saffron-input>
            </div>
            <div class="w-full md:w-1/3">
                <saffron-select [formGroup]="formGroup" [controlName]="'walletType'" [list]="walletTypes" [placeholder]="'نوع کیف'"></saffron-select>
            </div>
            <div class="w-full md:w-1/3">
                <saffron-input [formGroup]="formGroup" [controlName]="'walletAmount'" ></saffron-input>
            </div>
        </div>
        <div class="w-full flex flex-col md:flex-row gap-4 ">
            <div class="w-full md:w-1/5 ">
                <saffron-button [htmlButtonType]="'submit'" [title]="'ثبت'" [matIcon]="'save'"
                                [buttonType]="SaffronButtonTypes.Basic" [buttonClass]="'btn-success'"
                                [tooltip]="'ثبت کیف پول'" (buttonClicked)="onSubmit($event)"
                ></saffron-button>
            </div>
             <div class="w-full md:w-1/5 ">
                <saffron-button [htmlButtonType]="'button'" [title]="'ثبت'" [matIcon]="'check'"
                                [buttonType]="SaffronButtonTypes.Primary" [buttonClass]="'btn-info'"
                                [tooltip]="'ثبت کیف پول'" (buttonClicked)="onSubmit($event)"
                ></saffron-button>
            </div>
             <div class="w-full md:w-1/5 ">
                <saffron-button [htmlButtonType]="'reset'" [title]="'انصراف'" [matIcon]="'close'"
                                [buttonType]="SaffronButtonTypes.Primary" [buttonClass]="'btn-danger'"
                                [tooltip]="'ثبت کیف پول'" (buttonClicked)="onSubmit($event)"
                ></saffron-button>
            </div>
            <div class="w-full md:w-1/5 ">
                <saffron-button [htmlButtonType]="'reset'" [title]="'انصراف'" [matIcon]="'close'"
                                [buttonType]="SaffronButtonTypes.Primary" [buttonClass]="'btn-warning'"
                                [tooltip]="'ثبت کیف پول'" (buttonClicked)="onSubmit($event)"
                ></saffron-button>
            </div>
            <div class="w-full md:w-1/5 ">
                <saffron-button [htmlButtonType]="'reset'" [title]="'انصراف'" [matIcon]="'close'"
                                [buttonType]="SaffronButtonTypes.Primary" [buttonClass]="'btn-advance-search'"
                                [tooltip]="'ثبت کیف پول'" (buttonClicked)="onSubmit($event)"
                ></saffron-button>
            </div>


        </div>
        <div class=" ">
            <p-autocomplete formControlName="selectedCountry"
                            [suggestions]="filteredCountries"
                            (completeMethod)="filterCountry($event)" field="name"></p-autocomplete>
            <p-checkbox [(ngModel)]="checked" [binary]="true" />

        </div >
        <div class="card flex flex-col items-center gap-4">
            <p-multiselect [(ngModel)]="value1" [options]="cities" optionLabel="name" [maxSelectedLabels]="3"
                           styleClass="w-full md:w-80" size="small" placeholder="Small"></p-multiselect>
        </div>
        <div class="card flex justify-center gap-2">
            <p-toast />
            <p-confirmpopup />
            <p-button (onClick)="confirm1($event)" label="Save" [outlined]="false" />
            <p-button (onClick)="confirm2($event)" label="Delete" severity="danger" [outlined]="true" />
        </div>
         <div class="card flex justify-center gap-2">
             <p-fileUpload name="myFile" url="//my-upload-url" accept="image/*"></p-fileUpload>
         </div>
         <div class="card flex justify-center gap-2">
             <p-textarea [(ngModel)]="message" rows="5" [maxlength]="11" cols="30" placeholder="Enter your message"></p-textarea>
             <p-inputnumber [(ngModel)]="quantity" min="0" max="42"></p-inputnumber>
             <p-radiobutton name="group1" value="Option1" [(ngModel)]="selectedOption" label="Option 1"></p-radiobutton>
             <p-calendar [(ngModel)]="dateValue"></p-calendar>
         </div>
        <div class="card flex justify-center gap-2">
            <p-card>
                <p-header>Header</p-header>
                <p>Content goes here.</p>
                <p-footer>Footer</p-footer>
            </p-card>
        </div>
        <div>
            <p-dialog header="Title" [(visible)]="display" [modal]="true">
                <p>Dialog content goes here.</p>
                <p-progressBar [value]="70"></p-progressBar>

                <p-footer>
                    <button type="button" pButton label="Close" (click)="display=false"></button>
                </p-footer>
            </p-dialog>
        </div>



    </div>
    <div class="card w-full">
        <p-toast />
        <p-table [value]="products" dataKey="id" [tableStyle]="{ 'min-width': '100%;width: 100%;' }" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
            <ng-template #caption>
                <div class="flex flex-wrap justify-end gap-2">
                    <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
                    <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 5rem"></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
                    <th pSortableColumn="category">Category <p-sortIcon field="category" /></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating" /></th>
                    <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus" /></th>
                </tr>
            </ng-template>
            <ng-template #body let-product let-expanded="expanded">
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price | currency : 'USD' }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.category }}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false" /></td>
                    <td>
                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
                    </td>
                </tr>
            </ng-template>
            <ng-template #expandedrow let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-4">
                            <h5>Orders for {{ product.name }}</h5>
                            <p-table [value]="product.orders" dataKey="id">
                                <ng-template #header>
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price" /></th>
                                        <th pSortableColumn="customer">Customer <p-sortIcon field="customer" /></th>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date" /></th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount" /></th>
                                        <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                                        <th style="width: 4rem"></th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-order>
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.customer }}</td>
                                        <td>{{ order.date }}</td>
                                        <td>{{ order.amount | currency : 'USD' }}</td>
                                        <td>
                                            <p-tag [value]="order.status" [severity]="getStatusSeverity(order.status)" />
                                        </td>
                                        <td><p-button type="button" icon="pi pi-search" /></td>
                                    </tr>
                                </ng-template>
                                <ng-template #emptymessage>
                                    <tr>
                                        <td colspan="6">There are no order for this product yet.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div><br>
    <div class="card  w-full">
        <div class="card">
            <p-toast />
            <p-table [value]="products2" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
                <ng-template #header>
                    <tr>
                        <th style="width:20%">Code</th>
                        <th style="width:20%">Name</th>
                        <th style="width:20%">Inventory Status</th>
                        <th style="width:20%">Price</th>
                        <th style="width:20%"></th>
                    </tr>
                </ng-template>
                <ng-template #body let-product let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="product">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText type="text"
                                        [(ngModel)]="product.code" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.code}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText type="text"
                                        [(ngModel)]="product.name"
                                        required />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.name}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-select
                                        [options]="statuses"
                                        appendTo="body"
                                        [(ngModel)]="product.inventoryStatus"
                                        [style]="{'width':'100%'}" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <p-tag
                                        [value]="product.inventoryStatus"
                                        [severity]="getSeverity(product.inventoryStatus)" />
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText type="text"
                                        [(ngModel)]="product.price" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{product.price | currency: 'USD'}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex items-center justify-center gap-2">
                                <button
                                    *ngIf="!editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pInitEditableRow
                                    icon="pi pi-pencil"
                                    (click)="onRowEditInit(product)"
                                    text
                                    rounded
                                    severity="secondary"
                                ></button>
                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pSaveEditableRow
                                    icon="pi pi-check"
                                    (click)="onRowEditSave(product)"
                                    text
                                    rounded
                                    severity="secondary"
                                ></button>
                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pCancelEditableRow
                                    icon="pi pi-times"
                                    (click)="onRowEditCancel(product, ri)"
                                    text
                                    rounded
                                    severity="secondary"
                                ></button>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
