:host {
    width: 100%;
}

::ng-deep {
    .p-tooltip {
        width: 150px;
        min-width: 150px;
        font-size: 14px;
        max-width: 250px;

    }
}

.row {
    width: 5%;
}

.ruleId {
    width: 10%;
}
.apiTitle {
    width: 10%;
}
.retryCount {
    width: 10%;
}
.maxCall {
    width: 10%;
}
.callCount {
    width: 10%;
}
.apiName {
    width: 10%;
}

.partyName {
    width: 12%
}

.moduleTitle {
    width: 12%
}

.clientName {
    width: 12%;
}

.callCount {
    width: 10%;
}

.apiCount {
    width: 12%;
}

.operation {
    width: 21%;
}
hr {
    margin: 12px 0!important;
    border-bottom-width: 1px!important;
}
:host::ng-deep .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #323130;
    padding: 0 1rem 1rem  1rem ;
    //height: 230px;
}
