<!--
<div class="grid flex-column" id="section">
<p-panel header="ویرایش شرط قاعده (Conditions)">
    <div class="grid grid-cols-12">
        <div class="col-4">
            <label class="label-normal">
<span class="red-color-text">* </span>
<span >مکان ورودی :</span></label><br>
            <p-dropdown
                class="normal-dropdown"
                [options]="conditionTypeOptions"
                [(ngModel)]="conditionType"
                optionValue="code"
                optionLabel="name"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>
        <div class="col-4">
            <label class="label-normal">
<span class="red-color-text">* </span>
<span >نام ورودی :</span></label><br>
            <input [(ngModel)]="conditionName" (keydown.enter)="onKeydown($event)" pInputText>
        </div>
        <div class="col-4">
            <label class="label-normal">
<span class="red-color-text">* </span>
<span >نوع ورودی :</span></label><br>
            <p-dropdown
                class="normal-dropdown"
                [options]="conditionFieldTypeOptions"
                [(ngModel)]="conditionFieldType"
                optionValue="code"
                optionLabel="name"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>
        <div class="col-4">
            <label class="label-normal">
<span class="red-color-text">* </span>
<span >مقدار ورودی :</span></label><br>
            <input [(ngModel)]="conditionValue" (keydown.enter)="onKeydown($event)" pInputText>
        </div>
        <div class="col-4">
            <label class="label-normal">
<span class="red-color-text">* </span>
<span >عملگر :</span></label><br>
            <p-dropdown
                class="normal-dropdown"
                [options]="ruleConditionOptions"
                [(ngModel)]="ruleCondition"
                optionValue="code"
                optionLabel="name"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>
        <div class="col-4">
            <label class="label-normal">
<span class="red-color-text">* </span>
<span >فانکشن :</span></label><br>
            <p-dropdown
                class="normal-dropdown"
                [options]="functiontypeOptions"
                [(ngModel)]="functionType"
                optionValue="code"
                optionLabel="name"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>

        <div class="col-4">
            <label class="label-normal">
<span class="red-color-text">* </span>
<span >وضعیت :</span></label><br>
            <p-toggleswitch [(ngModel)]="status" (keydown.enter)="onKeydown($event)" />
        </div>
        <p-panel header="تخصیص پیام">
            <div class="grid grid-cols-12">
                <div class="col-5">
                    <label class="label-normal"><span >شناسه واحد پیام :</span></label><br>
                    <div class="lblDetailsLeft">
                        <label class="text-gray-700 ftextDetails">{{this.messageId}}</label>
                    </div>
                </div>
                <div class="col-5">
                    <label class="label-normal"><span >عنوان پیام :</span></label><br>
                    <div class="lblDetailsRight">
                        <label class="text-gray-700 ftextDetails">{{title}}</label>
                    </div>
                </div>

                <div class="col-span-2" dir="ltr">
                    <button (click)="showMessage()"
                            style="width: 30px!important;height: 30px!important;
                             margin-top: 0px!important" pButton
                            icon="pi pi-external-link"
                            matTooltip="{{'انتخاب پیام' | transloco}}"></button>&nbsp;
                    <button style="width: 30px!important;height: 30px!important;margin-top: 2px!important;"
                            matTooltip="{{'حذف پیام' | transloco}}" (click)="deleteMessage()"
                            pButton  severity="danger"  icon="pi pi-trash"></button>
                </div>
                <div class="col-5">
                    <label class="label-normal"><span >بخش پیام ها :</span></label><br>
                    <div class="lblDetailsRight">
                        <label class="text-gray-700 ftextDetails">{{tableId|tableId}}</label>
                    </div>
                </div>
                <div class="col-5">
                    <label class="label-normal"><span >پیام(فارسی) :</span></label><br>
                    <div class="lblDetailsRight">
                        <label class="text-gray-700 ftextDetails">{{text}}</label>
                    </div>
                </div>
            </div>
            <div class="col-5" hidden>
                <label class="label-normal">
<span class="red-color-text">* </span>
<span >message id :</span></label><br>
                <input [(ngModel)]="messageId" pInputText>
            </div>
        </p-panel>

    </div>

    <div class="col-12" dir="ltr" style="margin-top: 5px">
        <button pButton label="{{'button.cancel' | transloco}}"
                 severity="danger"  icon="pi pi-ban"
                (click)="onCancel()"></button>&nbsp;
        <button pButton severity="success" label="{{'ثبت اطلاعات' | transloco}}" icon="pi pi-save"
                (click)="onUpdate()"></button>
    </div>
</p-panel>
</div>

<p-dialog [style]="{'width':'55%'}" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" class="normal-dropdown"
          [resizable]="true">
    <p-panel header="{{'انتخاب پیام ها' | transloco}}">
        <div class="grid grid-cols-12">
            <div class="grid grid-cols-12">
                <div class="col-4">
                    <label class="label-normal">
<span class="red-color-text">* </span>
<span >کد پیام :</span></label><br>
                    <input [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal">
<span class="red-color-text">* </span>
<span >عنوان پیام :</span></label><br>
                    <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal">
<span class="red-color-text">* </span>
<span >پیام(فارسی) :</span></label><br>
                    <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >پیام(انگلیسی) :</span></label><br>
                    <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >بخش پیام ها :</span></label><br>
                    <p-dropdown
                        class="normal-dropdown"
                        [options]="categoryMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="tableIdMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >نوع پیام ها :</span></label><br>
                    <p-dropdown
                        class="normal-dropdown"
                        [options]="typeMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="typeMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <button pButton style="margin: 6px"
                            severity="success" dir="ltr"
                            label="{{'ثبت اطلاعات و انتخاب پیام' | transloco}}"
                            icon="pi pi-check"
                            (click)="onRegisterMessage()"></button>&nbsp;
                </div>
                <div class="col-8" dir="ltr">

                    <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                            class="normal-button" icon="pi pi-search" (click)="search()"></button>&nbsp;&nbsp;
                    <button pButton label="{{'button.clear'|transloco}}" [outlined]="true"
                            icon="pi pi-filter-slash"
                            style="margin: 6px" (click)="clear()"></button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>

            <div class="col-12">
                <p-card>
                    <p-table [value]="messagesList" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >شناسه واحد پیام</th>
                                <th >کد پیام</th>
                                <th >عنوان پیام</th>
                                <th >بخش پیام ها</th>
                                <th >پیام سیستمی</th>
                                <th >operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="row">{{messages.messageId}}</td>
                                <td
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.code|moreChar19}}
                                </td>
                                <td
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td>{{messages.tableId|messagesCategory}}</td>
                                <td>
                                    <img *ngIf="messages.isSystemMessage==1"
                                         src="assets/icons/correct.jpeg">
                                    <img *ngIf="messages.isSystemMessage==0"
                                         src="assets/icons/cross.jpeg">
                                </td>
                                <td dir="ltr">
                                    <button pButton label="انتخاب پیام" icon="pi pi-check"
                                            (click)="selectedMessage(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>



-->
<p-toast />
<app-breadcrumbs class="p-0 m-0" [showBackButton]="false"></app-breadcrumbs>
<div class="flex flex-col gap-4 p-4" id="section">

    <div class="grid grid-cols-12 gap-4">

        <!-- مکان ورودی -->
        <div class="col-span-4 ">
            <label class="normal-label">
                <span class="red-color-text">* </span>
                <span>{{ 'editCondition.dropdown.conditionType'|transloco }} :</span>
            </label>
            <p-dropdown
                class="normal-dropdown"
                [options]="conditionTypeOptions"
                [(ngModel)]="conditionType"
                optionValue="code"
                optionLabel="name"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>

        <!-- نام ورودی -->
        <div class="col-span-4 ">
            <label class="normal-label">
                <span class="red-color-text">* </span>
                <span>{{ 'editCondition.input.conditionName'|transloco }} :</span>
            </label>
            <input [(ngModel)]="conditionName" (keydown.enter)="onKeydown($event)" pInputText class="normal-input" />
        </div>

        <!-- نوع ورودی -->
        <div class="col-span-4 ">
            <label class="normal-label">
                <span class="red-color-text">* </span>
                <span>{{ 'editCondition.dropdown.conditionFieldType'|transloco }} :</span>
            </label>
            <p-dropdown
                class="normal-dropdown"
                [options]="conditionFieldTypeOptions"
                [(ngModel)]="conditionFieldType"
                optionValue="code"
                optionLabel="name"
                (onChange)="getKeyFilterRegex($event)"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>
        <div class="col-span-4 ">
            <label class="normal-label">
                <span class="red-color-text">* </span>
                <span>{{ 'editCondition.input.conditionValue'|transloco }} :</span>
            </label>
            <input [(ngModel)]="conditionValue" (keydown.enter)="onKeydown($event)" [pKeyFilter]="conditionValuePKeyFilter" pInputText class="normal-input" />
        </div>

        <!-- عملگر -->
        <div class="col-span-4 ">
            <label class="normal-label">
                <span class="red-color-text">* </span>
                <span>{{ 'editCondition.dropdown.ruleCondition'|transloco }} :</span>
            </label>
            <p-dropdown
                class="normal-dropdown"
                [options]="ruleConditionOptions"
                [(ngModel)]="ruleCondition"
                optionValue="code"
                optionLabel="name"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>
        <div class="col-span-4 ">
            <label class="normal-label">
                <span>{{ 'editCondition.dropdown.functionType'|transloco }} :</span>
            </label>
            <p-dropdown
                class="normal-dropdown"
                [options]="functiontypeOptions"
                [(ngModel)]="functionType"
                optionValue="code"
                optionLabel="name"
                (keydown.enter)="onKeydown($event)">
            </p-dropdown>
        </div>

        <!-- وضعیت -->
        <div class="col-span-4 ">
            <label class="normal-label">
                <span>{{ 'editCondition.input.status'|transloco }} :</span>
            </label>
            <p-toggleswitch [(ngModel)]="status" (keydown.enter)="onKeydown($event)" />
        </div>
    </div>

    <!-- پنل پیام -->
    <p-panel header="{{'editCondition.header.assignmentMessage'|transloco}}" class="mt-6">
        <div class="grid grid-cols-12 in-panel">

            <div class="col-span-4 ">
                <label class="normal-label">{{ 'editCondition.detail.messageId'|transloco }}:</label>
                <div><label class="text-gray-700  font-semibold">{{ this.messageId }}</label></div>
            </div>

            <div class="col-span-4 ">
                <label class="normal-label">{{ 'editCondition.detail.titleMessage'|transloco }}:</label>
                <div><label class="text-gray-700  font-semibold">{{ title }}</label></div>
            </div>
            <div class="col-span-4  flex justify-start items-center gap-0.5 h-12  rtl:flex-row-reverse">
                <button (click)="showMessage()"
                        class="bg-green-500 border-green-500 text-white w-8 h-8 mr-2 rounded-2xl flex items-center justify-center"
                        pButton icon="pi pi-external-link"
                        matTooltip="{{ 'registerRule.tooltip.chooseMessage' | transloco }}">
                </button>
                <button matTooltip="{{ 'registerRule.tooltip.deleteMessage' | transloco }}"
                        (click)="deleteMessage()"
                        class="bg-red-500 border-red-500 text-white w-8 h-8 rounded-2xl flex items-center justify-center"
                        pButton icon="pi pi-trash">
                </button>
            </div>


            <div class="col-span-4 ">
                <label class="normal-label">{{ 'editCondition.detail.tableId'|transloco }}:</label>
                <div><label class="text-gray-700  font-semibold">{{ tableId | tableId }}</label>
                </div>
            </div>


                <div class="col-span-4 ">
                    <label class="normal-label">{{ 'editCondition.detail.faMessage'|transloco }}:</label>
                    <div><label class="text-gray-700  font-semibold">{{ text }}</label></div>
                </div>

                <div class=" col-span-4 hidden">
                    <label class="normal-label">
                        <span class="text-red-600">*</span> message id:
                    </label>
                    <input [(ngModel)]="messageId" pInputText class="w-full" />
                </div>
            </div>
    </p-panel>

    <!-- دکمه‌ها -->

    <div class="w-full mt-4 text-left p-4">
        <button pButton severity="success" label="{{'button.save' | transloco}}" icon="pi pi-save"
                (click)="onUpdate()"></button>&nbsp;
        <button pButton label="{{'button.cancel' | transloco}}" severity="danger" icon="pi pi-times"
                [outlined]="true"
                (click)="onCancel()"></button>

    </div>
</div>
<!--<p-dialog [style]="{'width':'55%'}" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" class="normal-dropdown"
          [resizable]="true">
    <p-panel header="{{'editCondition.dialog.header.chooseMessages' | transloco}}">
        <div class="grid grid-cols-12">
            <div class="grid grid-cols-12">
                <div class="col-span-4">
                    <label class="label-normal">
                        <span class="red-color-text">* </span>
                        <span >{{'editCondition.dialog.input.codeMessage'|transloco}} :</span></label><br>
                    <input [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-span-4">
                    <label class="label-normal">
                        <span class="red-color-text">* </span>
                        <span >{{'editCondition.dialog.input.titleMessage'|transloco}} :</span></label><br>
                    <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-span-4">
                    <label class="label-normal">
                        <span class="red-color-text">* </span>
                        <span >{{'editCondition.dialog.input.faMessage'|transloco}} :</span></label><br>
                    <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >{{'editCondition.dialog.input.EnMessage'|transloco}} :</span></label><br>
                    <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-span-4">
                    <label class="label-normal"><span >{{'editCondition.dialog.dropdown.tableId'|transloco}} :</span></label><br>
                    <p-dropdown
                        class="normal-dropdown"
                        [options]="categoryMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="tableIdMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >{{'editCondition.dialog.dropdown.typeMessages'|transloco}} :</span></label><br>
                    <p-dropdown
                        class="normal-dropdown"
                        [options]="typeMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="typeMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <button pButton style="margin: 6px"
                            severity="success" dir="ltr"
                            label="{{'editCondition.dialog.button.registerChooseMessage' | transloco}}"
                            icon="pi pi-check"
                            (click)="onRegisterMessage()"></button>&nbsp;
                </div>
                <div class="col-8" dir="ltr">

                    <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                            class="normal-button" icon="pi pi-search" (click)="search()"></button>&nbsp;&nbsp;
                    <button pButton label="{{'button.clear'}}" [outlined]="true"
                            icon="pi pi-filter-slash"
                            style="margin: 6px" (click)="clear()"></button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>

            <div class="col-12">
                <p-card>
                    <p-table [value]="messagesList" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >{{'editCondition.detail.messageId'|transloco}}</th>
                                <th >{{'editCondition.detail.codeMessage'|transloco}}</th>
                                <th >{{'editCondition.detail.titleMessage'|transloco}}</th>
                                <th >{{ 'editCondition.detail.tableId'|transloco }}</th>
                                <th >{{'editCondition.dialog.table.header.isSystemMessage'|transloco}}</th>
                                <th >operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="row">{{messages.messageId}}</td>
                                <td
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.code|moreChar19}}
                                </td>
                                <td
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td>{{messages.tableId|messagesCategory}}</td>
                                <td>
                                    <img *ngIf="messages.isSystemMessage==1"
                                         src="assets/icons/correct.jpeg">
                                    <img *ngIf="messages.isSystemMessage==0"
                                         src="assets/icons/cross.jpeg">
                                </td>
                                <td dir="ltr">
                                    <button pButton label="{{'editCondition.dialog.button.chooseMessage'|transloco}}" icon="pi pi-check"
                                            (click)="selectedMessage(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>-->
<p-dialog [style]="{'width':'55%'}" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" appendTo="body"
          [resizable]="true">
    <p-panel header="{{'editRule.dialog.header.chooseMessage' | transloco}}">
        <div class="grid grid-cols-12 md:grid-cols-12 lg:grid-cols-12 gap-4 my-2 mx-5">
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{ 'editRule.dialog.input.codeMessage'|transloco }} :</span></label>
                <input disabled [(ngModel)]="codeMessage" class="normal-input"
                       (keydown.enter)="onKeydownSearch($event)" pInputText>
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{ 'editRule.dialog.input.titleMessage'|transloco }} :</span></label>
                <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)"
                       pInputText class="normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{ 'editRule.dialog.input.faMessage'|transloco }} :</span></label>
                <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)" class="normal-input"
                       [pKeyFilter]="cust_alphanumFa"   pInputText>
            </div>
            <div class="col-span-4">
                <label class="normal-label"><span>{{ 'editRule.dialog.input.EnMessage'|transloco }} :</span></label>
                <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)" class="normal-input"
                       [pKeyFilter]="cust_alphanumEn"    pInputText>
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">* </span>
                    <span>{{ 'editRule.dialog.dropdown.tableId'|transloco }} :</span></label>
                <p-dropdown
                    class="normal-dropdown"
                    [options]="categoryMessages"
                    optionValue="code"
                    optionLabel="name"
                    [(ngModel)]="tableIdMessage"
                    (onChange)="search()">
                </p-dropdown>
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">* </span>
                    <span>{{ 'editRule.dialog.dropdown.typeMessages'|transloco }} :</span></label>
                <p-dropdown
                    class="normal-dropdown"
                    [options]="typeMessages"
                    optionValue="code"
                    optionLabel="name"
                    [(ngModel)]="typeMessage"
                    (onChange)="search()">
                </p-dropdown>
            </div>
            <div class=" sm:flex sm:col-span-4 justify-start items-center gap-2 h-12 mt-5-5 ">
                <button pButton style="margin: 6px"
                        class="bg-green-500 border-green-500 text-white  my-1 px-4 py-2 border rounded"
                        dir="ltr"
                        label="{{'editRule.dialog.button.registerChooseMessage' | transloco}}"
                        icon="pi pi-check"
                        (click)="onRegisterMessage()"></button>&nbsp;
            </div>
            <div class=" sm:flex sm:sm:col-span-8  justify-start items-center gap-2 h-12 mt-5-5 rtl:flex-row-reverse">

                <button pButton label="{{'button.clear'|transloco}}"
                        class="w-[110px] my-1 px-4 py-2  normal-button"
                        icon="pi pi-filter-slash"
                        [outlined]="true"

                        style="margin: 6px" (click)="clear()"></button> &nbsp;&nbsp;
                <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                        class="my-1 px-4 py-2 border normal-button"
                        icon="pi pi-search"
                        (click)="search()"></button>
            </div>
        </div>
        <div class="my-10"></div>
        <div>
            <p-table [value]="messagesList" selectionMode="single"
                     [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                     [currentPageReportTemplate]="paginationLabel"
                     [rowsPerPageOptions]="[5,10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="row">{{ 'editRule.detail.messageId' |transloco }}</th>
                        <th>{{ 'editRule.dialog.input.codeMessage' |transloco }}</th>
                        <th>{{ 'editRule.detail.titleMessage' |transloco }}</th>
                        <th>{{ 'editRule.detail.tableId' |transloco }}</th>
                        <th>{{ 'editRule.dialog.table.header.isSystemMessage' |transloco }}</th>
                        <th>{{ 'editRule.dialog.table.header.operation' |transloco }}</th>
                    </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                    <tr [pSelectableRow]="messages">
                        <td class="row">{{ messages.messageId }}</td>
                        <td
                            [pTooltip]="messages.code"
                            [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                        >
                            {{ messages.code|moreChar19 }}
                        </td>
                        <td
                            [pTooltip]="messages.title"
                            [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                        >
                            {{ messages.title|moreChar19 }}
                        </td>
                        <td>{{ messages.tableId|tableId }}</td>
                        <td>

                            <img *ngIf="messages.isSystemMessage==1"  class="w-6 h-6 object-contain block"
                                 src="assets/icons/correct.jpeg">
                            <img *ngIf="messages.isSystemMessage==0"  class="w-6 h-6 object-contain block"
                                 src="assets/icons/cross.jpeg">
                        </td>
                        <td dir="ltr" class="flex justify-end items-center">
                            <button pButton label="{{'editRule.dialog.table.button.chooseMessage'|transloco}}"
                                    icon="pi pi-check"
                                    (click)="selectedMessage(messages)"></button>&nbsp;
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

    </p-panel>
</p-dialog>
