<p-toast />
<app-breadcrumbs id="section" *ngIf="!jsonMediatorsFlag&&!xmlMediatorsFlag&&!nodeListFlag"></app-breadcrumbs>
<div class="grid flex-column">
    <p-panel header="لیست مدیاتور ها" *ngIf="!jsonMediatorsFlag&&!xmlMediatorsFlag&&!nodeListFlag">
        <div class="grid grid-cols-12">
            <div class="col-4">
                <label class="normal-label"> <span >عنوان مدیاتور :</span></label><br>
                <input [(ngModel)]="mediatorTitle" (keydown.enter)="onKeydown($event)" pInputText>
            </div>
            <div class="col-8" dir="ltr">
                <button pButton label="{{'جستجو'}}" style="width: 110px;margin: 3px;margin-top: 20px"
                        class="btnSearch btnSearchModoule" icon="pi pi-search" (click)="search()"></button>&nbsp;&nbsp;
                <button pButton label="{{'button.clear'|transloco}}"
                        icon="pi pi-filter-slash"
                        class="my-1 px-4 py-2 border normal-button" [outlined]="true" (click)="clear()"></button>
            </div>
        </div>
        <div class="col-12">
            <p-table [value]="MediatorsList" selectionMode="single"
                     [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                     [currentPageReportTemplate]=paginationLabel
                     [rowsPerPageOptions]="[5,10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="row" class="row" >
                            row
                            <p-sortIcon field="row"></p-sortIcon>
                        </th>
                        <th pSortableColumn="title" class="title" >
                            عنوان مدیاتور
                            <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th pSortableColumn="apiName" class="apiName" >
                            نام سرویس
                            <p-sortIcon field="apiName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="apiTitle" class="apiTitle" >
                            عنوان سرویس
                            <p-sortIcon field="apiTitle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="moduleType" class="moduleType" >
                            نوع ماژول
                            <p-sortIcon field="moduleType"></p-sortIcon>
                        </th>
                        <th pSortableColumn="schemaName" class="schemaName" >
                            فضای نام
                            <p-sortIcon field="schemaName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rdate" class="rdate" >
                            تاریخ ثبت
                            <p-sortIcon field="rdate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="appDate" class="appDate" >
                            تاریخ تائید
                            <p-sortIcon field="appDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="isApproval" class="isApproval" >
                            وضعیت تائید
                            <p-sortIcon field="isApproval"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status" class="status" >
                            وضعیت
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >operation
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-api>
                    <tr [pSelectableRow]="api">
                        <td class="row">{{api.row}}</td>
                        <td class="title"
                            [pTooltip]="api.title"
                            [tooltipDisabled]="api.title?api.title.length < 20:false"
                        >
                            {{api.title|moreChar19}}
                        </td>
                        <td class="apiName"
                            [pTooltip]="api.apiName"
                            [tooltipDisabled]="api.apiName?api.apiName.length < 20:false"
                        >
                            {{api.apiName|moreChar19}}
                        </td>
                        <td class="apiTitle"
                            [pTooltip]="api.apiTitle"
                            [tooltipDisabled]="api.apiTitle?api.apiTitle.length < 20:false"
                        >
                            {{api.apiTitle|moreChar19}}
                        </td>
                        <td class="moduleType">{{api.moduleTypeId|moduleType}}</td>
                        <td class="schemaName"
                            [pTooltip]="api.schemaName"
                            [tooltipDisabled]="api.schemaName?api.schemaName.length < 20:false"
                        >
                            {{api.schemaName|moreChar19}}
                        </td>
                        <td class="rdate" dir="ltr"
                            [pTooltip]="api.rdate"
                            [tooltipDisabled]="api.rdate?api.rdate.length < 11:false"
                        >{{api.rdate|historyMoreChar}}</td>
                        <td class="appDate" dir="ltr"
                            [pTooltip]="api.appDate"
                            [tooltipDisabled]="api.appDate?api.appDate.length < 11:false"
                        >{{api.appDate|historyMoreChar}}</td>
                        <td class="isApproval" [ngStyle]="{'text-align': 'center !important'}">
                            <div [ngStyle]="{ 'border-radius':' 2.5px','color':api.isApproval == true ?
                         '#258F30' :'#962515',
                         'background-color': api.isApproval == false ?'#F18B7D' : '#85DC8F',
                         'width':'70px','margin':' 0 auto'}">
                                {{api.isApproval|isApproval}}</div>
                        </td>
                        <td class="status" [ngStyle]="{'text-align': 'center !important'}">
                            <div [ngStyle]="{ 'border-radius':' 2.5px','color':api.status == true ?
                         '#258F30' :'#962515',
                         'background-color': api.status == false ?'#F18B7D' : '#85DC8F',
                         'width':'45px','margin':' 0 auto'}">
                                {{api.status|statusPipe}}</div>
                        </td>
                        <td class="text-right border-r border-[#ebe8e8]" >
                            <button (click)="setRecord(api)" type="button" class="p-button-rounded  "
                                    pButton
                                    pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)"></button>&nbsp;
                            <p-menu appendTo="body" #menu [popup]="true" [model]="items"></p-menu>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!--  <div class="col-12" dir="ltr">
              <button (click)="BeforeButton()"
                      style="width: 30px!important;" pButton
                      class="btn-warning p-button-warning" icon="pi pi-arrow-right"
                      matTooltip="{{'بازگشت' | transloco}}"></button>
          </div>-->
    </p-panel>
    <div class="col-12" *ngIf="jsonMediatorsFlag">
        <app-mediators-json [inputListMedia]="flag" (close)="onClose($event)"></app-mediators-json>
    </div>
    <div class="col-12" *ngIf="xmlMediatorsFlag">
        <app-mediators [inputListMedia]="flag" (close)="onClose($event)"></app-mediators>
    </div>
    <div class="col-12" *ngIf="nodeListFlag">
        <app-node-change-list [inputListMedia]="mediatorDto" (close)="onClose($event)"></app-node-change-list>
    </div>
</div>
<p-dialog [style]="{'width':'58%'}" [(visible)]="flagAddNode" [modal]="true" [draggable]="false"
          appendTo="body"
          [resizable]="true">
    <p-panel header="{{'پنجر افزودن کلید'|transloco}}">
        <div class="grid flex-column">
            <div class="grid grid-cols-12">
                <div class="col-12">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >مسیر نود :</span></label><br>
                    <input dir="ltr" class="input-w-100" [(ngModel)]="tempPath" pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >کلید :</span></label><br>
                    <input dir="ltr" [(ngModel)]="keyNode" pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label"> <span >مقدار :</span></label><br>
                    <input dir="ltr" [(ngModel)]="valueNode" pInputText>
                </div>
                <div class="col-12" dir="ltr" style="margin-top: 15px">
                    <button pButton label="{{'button.cancel'}}" [outlined]="true"
                             severity="danger"  icon="pi pi-times"
                            (click)="onClosePopup()"></button>&nbsp;
                    <button pButton severity="success" label="{{'ثبت اطلاعات'}}"
                            (click)="registerNode(1)" icon="pi pi-save"></button>&nbsp;
                </div>
            </div>
        </div>
    </p-panel>
</p-dialog>
<p-dialog [style]="{'width':'58%'}" [(visible)]="flagDeletedNode" [modal]="true" [draggable]="false"
          [resizable]="true" appendTo="body">
    <p-panel header="{{'پنجر حذف کلید'}}">
        <div class="grid flex-column">
            <div class="grid grid-cols-12">
                <div class="col-12">
                    <label class="normal-label"> <span >مسیر نود والد :</span></label><br>
                    <input class="input-w-100" dir="ltr" [(ngModel)]="tempPath" pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >کلید :</span></label><br>
                    <input [(ngModel)]="keyNode" pInputText>
                </div>
                <div class="col-4"></div>
                <div class="col-12" dir="ltr" style="margin-top: 15px">
                    <button pButton label="{{'button.cancel' | transloco}}"
                             severity="danger"  icon="pi pi-times" [outlined]="true"
                            (click)="onClosePopup()"></button>&nbsp;
                    <button pButton severity="success" label="{{'ثبت اطلاعات'}}"
                            (click)="registerNode(2)" icon="pi pi-save"></button>&nbsp;
                </div>
            </div>
        </div>
    </p-panel>
</p-dialog>
