<!--
<app-breadcrumbs id="section"></app-breadcrumbs>
<div class="grid flex-column">
    <p-panel header="{{'شرایط قواعد (Conditions)' | transloco}}" *ngIf="!registerFlag&&!updateFlag">
        <div class="grid grid-cols-12">
            <div class="col-span-3" [hidden]="hideApi">
                <label class="normal-label"> <span transloco dir="rtl">نام سرویس</span> : </label><br>
                <div class="lblDetailsRight">
                    <label class="text-gray-700 ftextDetails"
                           [pTooltip]="apiName"
                           [tooltipDisabled]="apiName?apiName.length < 20:false"
                    >
                        {{apiName|threeDotDetailsPipe}}</label>
                </div>
            </div>
            <div class="col-span-4">
                <label class="normal-label"> <span transloco dir="rtl">نام قاعده سرویس</span> : </label><br>
                <div class="lblDetailsRight">
                    <label class="text-gray-700 ftextDetails"
                           [pTooltip]="ruleName"
                           [tooltipDisabled]="ruleName?ruleName.length < 20:false"
                    >
                        {{ruleName|threeDotDetailsPipe}}
                    </label>
                </div>
            </div>

            <div class="col-span-4">
                <label class="normal-label"> <span transloco dir="rtl">قالب</span> : </label><br>
                <div class="lblDetailsRight">
                    <label class="text-gray-700 ftextDetails">{{ruleTemplate|ruleTemplate}}</label>
                </div>
            </div>

        </div>
        <div class="col-12" *ngIf="!registerFlag&&!updateFlag">
            <button pButton label="{{'افزودن' | transloco}}"
                    icon="pi pi-plus" (click)="showAdd()"></button>
        </div>
        <p-table [value]="ruleConditionsList" *ngIf="!registerFlag&&!updateFlag" selectionMode="single"
                 [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                 [currentPageReportTemplate]=paginationLabel
                 [rowsPerPageOptions]="[5,10,25,50,100]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="row" class="row" >
                        table.header.row
                        <p-sortIcon field="row"></p-sortIcon>
                    </th>
                    <th pSortableColumn="conditionType" class="conditionType" >
                        مکان ورودی
                        <p-sortIcon field="conditionType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ruleCondition" class="ruleCondition" >
                        عملگر
                        <p-sortIcon field="ruleCondition"></p-sortIcon>
                    </th>
                    <th pSortableColumn="conditionFieldType" class="conditionFieldType" >
                        نوع ورودی
                        <p-sortIcon field="conditionFieldType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="conditionName" class="conditionName" >
                        نام ورودی
                        <p-sortIcon field="conditionName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="conditionValue" class="conditionValue" >
                        مقدار ورودی
                        <p-sortIcon field="conditionValue"></p-sortIcon>
                    </th>

                    <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >operation</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-condition>
                <tr [pSelectableRow]="condition">
                    <td class="row">{{condition.row}}</td>
                    <td class="conditionType">{{condition.conditionType|conditionType}}</td>
                    <td class="ruleCondition">{{condition.ruleCondition|condition}}</td>
                    <td class="conditionFieldType">{{condition.conditionFieldType|conditionFieldType}}</td>
                    <td class="conditionName"
                        [pTooltip]="condition.conditionName"
                        [tooltipDisabled]="condition.conditionName?condition.conditionName.length < 20:false"
                    >
                        {{condition.conditionName|moreChar19}}
                    </td>
                    <td class="conditionValue"
                        [pTooltip]="condition.conditionValue"
                        [tooltipDisabled]="condition.conditionValue?condition.conditionValue.toString().length < 20:false"
                    >
                        {{condition.conditionValue|moreChar19}}
                    </td>
                    <td class="text-right border-r border-[#ebe8e8]" >
                        <button class="p-button-rounded  " pButton icon="pi pi-pencil" pTooltip="ویرایش"
                                (click)="showUpdate(condition)"></button>&nbsp;
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div class="col-span-12" dir="ltr" *ngIf="!registerFlag&&!updateFlag">
            <button (click)="BeforeButton()"
                    style="width: 30px!important;" pButton
                    class="btn-warning p-button-warning" icon="pi pi-arrow-right"
                    matTooltip="{{'بازگشت' | transloco}}"></button>

        </div>
    </p-panel>
    <div class="col-span-12" *ngIf="registerFlag">
        <app-api-rule-condition-register (close)="onClose($event)"></app-api-rule-condition-register>
    </div>
    <div class="col-span-12" *ngIf="updateFlag">
        <app-api-rule-condition-update [inputUpdate]="conditionDto"
                                       (close)="onClose($event)"></app-api-rule-condition-update>
    </div>
</div>


-->
<p-toast />
<app-breadcrumbs class="p-0 m-0"  (backClicked)="BeforeButton()"  *ngIf="!registerFlag && !updateFlag"></app-breadcrumbs>

<div class="flex flex-col content-page" id="section">
    <div *ngIf="!registerFlag && !updateFlag" >
        <div class="text-right font-semibold text-lg mb-4">
            {{ 'condition.header.conditionsRule' | transloco }}
        </div>

        <div class="grid grid-cols-1 md:grid-cols-12 gap-4 text-right">
            <div class="md:col-span-3" [hidden]="hideApi">
                <label class="normal-label">
                    <span>{{ 'condition.detail.apiName' | transloco }}</span> :
                </label>
                <div>
                    <label
                        class="block truncate"
                        [pTooltip]="apiName"
                        [tooltipDisabled]="apiName ? apiName.length < 20 : false"
                    >
                        {{ apiName | threeDotDetailsPipe }}
                    </label>
                </div>
            </div>
            <div class="md:col-span-4">
                <label class="normal-label"> <span >{{'condition.detail.apiRuleName'|transloco}}</span> : </label>
                    <label
                        class=" truncate"
                        [pTooltip]="ruleName"
                        [tooltipDisabled]="ruleName ? ruleName.length < 20 : false"
                    >
                        {{ ruleName | threeDotDetailsPipe }}
                    </label>
            </div>

            <div class="md:col-span-4">
                <label class="normal-label"> <span >{{ 'condition.detail.format'|transloco }}</span> : </label>
                    <label >{{ ruleTemplate | ruleTemplate }}</label>
            </div>
        </div>

        <div class="w-full flex justify-start my-4" >
            <button
                pButton
                label="{{ 'button.add' | transloco }}"
                icon="pi pi-plus" class="normal-button"
                (click)="showAdd()"
            ></button>
        </div>

        <p-table
            [value]="ruleConditionsList"
            *ngIf="!registerFlag && !updateFlag"
            selectionMode="single"
            [paginator]="true"
            [rows]="rows"
            [showCurrentPageReport]="true"
            [(first)]="first"
            [currentPageReportTemplate]=paginationLabel
            [rowsPerPageOptions]="[5,10,25,50,100]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="row" pSortableColumn="row">{{ 'table.header.row'|transloco }} <p-sortIcon field="row"></p-sortIcon></th>
                    <th class="conditionType" pSortableColumn="conditionType">{{'condition.table.header.conditionType'|transloco}} <p-sortIcon field="conditionType"></p-sortIcon></th>
                    <th class="ruleCondition" pSortableColumn="ruleCondition">{{'condition.table.header.ruleCondition'|transloco}}  <p-sortIcon field="ruleCondition"></p-sortIcon></th>
                    <th class="conditionFieldType" pSortableColumn="conditionFieldType">{{'condition.table.header.conditionFieldType'|transloco}} <p-sortIcon field="conditionFieldType"></p-sortIcon></th>
                    <th class="conditionName" pSortableColumn="conditionName">{{'condition.table.header.conditionName'|transloco}}  <p-sortIcon field="conditionName"></p-sortIcon></th>
                    <th class="conditionValue" pSortableColumn="conditionValue">{{'condition.table.header.conditionValue'|transloco}}  <p-sortIcon field="conditionValue"></p-sortIcon></th>
                    <th class="text-right border-r border-[#ebe8e8] ">{{'condition.table.header.operation'|transloco}} </th>
                </tr>
            </ng-template>

            <ng-template let-i="rowIndex" pTemplate="body" let-condition>
                <tr [pSelectableRow]="condition">
                    <td  class="row">{{ condition.row }}</td>
                    <td class="conditionType">{{ condition.conditionType | conditionType }}</td>
                    <td class="ruleCondition">{{ condition.ruleCondition | condition }}</td>
                    <td class="conditionFieldType">{{ condition.conditionFieldType | conditionFieldType }}</td>
                    <td class="conditionName"
                        [pTooltip]="condition.conditionName"
                        [tooltipDisabled]="condition.conditionName?.length < 20"
                    >
                        {{ condition.conditionName | moreChar19 }}
                    </td>
                    <td class="conditionValue"
                        [pTooltip]="condition.conditionValue"
                        [tooltipDisabled]="condition.conditionValue?.toString().length < 20"
                    >
                        {{ condition.conditionValue | moreChar19 }}
                    </td>
                    <td class="text-right border-r border-[#ebe8e8]">
                        <button
                            class="rounded-full  text-white p-2"
                            pButton
                            icon="pi pi-pencil" pTooltip="{{'button.edit'|transloco}}"
                            (click)="showUpdate(condition)"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


    </div>

    <div *ngIf="registerFlag">
        <app-api-rule-condition-register  [inputreg]="conditionDto" (close)="onClose($event)"></app-api-rule-condition-register>
    </div>

    <div *ngIf="updateFlag">
        <app-api-rule-condition-update
            [inputUpdate]="conditionDto"
            (close)="onClose($event)"
        ></app-api-rule-condition-update>
    </div>
</div>
