<p-toast />
<app-breadcrumbs id="section" *ngIf="!rulConditionFlag" (backClicked)="BeforeButton()"></app-breadcrumbs>
<div class="grid flex-column">
    <p-panel header="{{'قواعد کلاینت' | transloco}}" *ngIf="!rulConditionFlag&&!updateFlag&&!clientRuleSearchFlag">
        <div class="grid grid-cols-12">
            <div class="col-4">
                <label class="normal-label"> <span >نام کلاینت :</span></label><br>
                <div class="lblDetailsRight">
                    <label class="text-gray-700 ftextDetails"
                           [pTooltip]="clientName"
                           [tooltipDisabled]="clientName?clientName.length < 20:false"
                    >
                        {{this.clientName|threeDotDetailsPipe}}
                    </label>
                </div>
            </div>
            <div class="col-4">
                <label class="normal-label"> <span >کلید کلاینت :</span></label><br>
                <div class="lblDetailsLeft">
                    <label class="text-gray-700 ftextDetails"
                           [pTooltip]="clientKey"
                           [tooltipDisabled]="clientKey?clientKey.length < 20:false"
                    >
                        {{this.clientKey|threeDotDetailsPipe}}
                    </label>
                </div>
            </div>
            <div class="col-4">
                <label class="normal-label"> <span >شماره موبایل :</span></label><br>
                <div class="lblDetailsLeft">
                    <label class="text-gray-700 ftextDetails">{{this.mobileNo}}</label>
                </div>
            </div>
            <div class="col-12" *ngIf="!updateFlag">
                <button pButton label="{{'اتصال قاعده به کلاینت' | transloco}}"
                        icon="pi pi-link" (click)="showSearchRules()"></button>
            </div>
            <div class="col-12">
                <p-table [value]="ruleList" *ngIf="!updateFlag" selectionMode="single" [paginator]="true"
                         [rows]="rows"
                         [showCurrentPageReport]="true" [(first)]="first"
                         [currentPageReportTemplate]=paginationLabel
                         [rowsPerPageOptions]="[5,10,25,50,100]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="ruleId" class="ruleId" >
                                شناسه قاعده
                                <p-sortIcon field="ruleId"></p-sortIcon>
                            </th>
                            <th pSortableColumn="name" class="name" >
                                نام
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ruleTemplate" class="ruleTemplate" >
                                متن خطا
                                <p-sortIcon field="ruleTemplate"></p-sortIcon>
                            </th>
                            <th pSortableColumn="httpsstatus" class="httpsstatus" >
                                کد وضعیت
                                <p-sortIcon field="httpsstatus"></p-sortIcon>
                            </th>
                            <th pSortableColumn="messageTitle" class="messageTitle" >
                                عنوان پیام
                                <p-sortIcon field="messageTitle"></p-sortIcon>
                            </th>

                            <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >
                                operation
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template let-i="rowIndex" pTemplate="body" let-roule>
                        <tr [pSelectableRow]="roule">
                            <td class="ruleId">{{roule.ruleId}}</td>
                            <td class="name"
                                [pTooltip]="roule.name"
                                [tooltipDisabled]="roule.name?roule.name.length < 20:false"
                            >
                                {{roule.name|moreChar19}}
                            </td>
                            <td class="ruleTemplate"
                                [pTooltip]="roule.ruleTemplate"
                                [tooltipDisabled]="roule.ruleTemplate?roule.ruleTemplate.length < 20:false"
                            >
                                {{roule.ruleTemplate|formatRule}}
                            </td>
                            <td class="httpsstatus"
                                [pTooltip]="roule.httpsstatus"
                                [tooltipDisabled]="roule.httpsstatus?roule.httpsstatus.length < 20:false"
                            >
                                {{roule.httpsstatus|moreChar19}}
                            </td>
                            <td class="messageTitle"
                                [pTooltip]="roule.messageTitle"
                                [tooltipDisabled]="roule.messageTitle?roule.messageTitle.length < 20:false"
                            >
                                {{roule.messageTitle|moreChar19}}
                            </td>

                            <td class="text-right border-r border-[#ebe8e8]" >
                                <button (click)="setRecord(roule)" type="button"
                                        class="p-button-rounded  "
                                        pButton
                                        pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)"></button>&nbsp;
                                <p-menu appendTo="body" #menu [popup]="true" [model]="items"></p-menu>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-12" dir="ltr" *ngIf="!updateFlag">
                <button (click)="BeforeButton()"
                        style="width: 30px!important;" pButton
                        class="btn-warning p-button-warning" icon="pi pi-arrow-right"
                        matTooltip="{{'بازگشت' | transloco}}"></button>
            </div>
        </div>
    </p-panel>

    <div class="col-12" *ngIf="updateFlag">
        <app-api-rule-update [inputUpdate]="ruleDto" (close)="onClose($event)"></app-api-rule-update>
    </div>
</div>
<div class="col-12" *ngIf="rulConditionFlag">
    <app-api-rule-condition [inputClientCondition]="ruleDto" (close)="onClose($event)"></app-api-rule-condition>
</div>
<div class="col-12" *ngIf="clientRuleSearchFlag">
    <app-search-rules-client [inputRuleClient]="ruleDto" (close)="onClose($event)"></app-search-rules-client>
</div>
<p-dialog [style]="{'width':'55%'}" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" appendTo="body"
          [resizable]="true">
    <p-panel header="{{'انتخاب پیام ها' | transloco}}">
        <div class="grid grid-cols-12">
            <div class="grid grid-cols-12">
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >کد پیام :</span></label><br>
                    <input disabled [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >عنوان پیام :</span></label><br>
                    <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label">
<span class="red-color-text">* </span>
<span >پیام(فارسی) :</span></label><br>
                    <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label"> <span >پیام(انگلیسی) :</span></label><br>
                    <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)"
                           pInputText>
                </div>
                <div class="col-4">
                    <label class="normal-label"> <span >بخش پیام ها :</span></label><br>
                    <p-dropdown
                        appendTo="body"
                        [options]="categoryMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="tableIdMessage"
                        (keydown.enter)="onKeydownSearch($event)">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <label class="normal-label"> <span >نوع پیام ها :</span></label><br>
                    <p-dropdown
                        appendTo="body"
                        [options]="typeMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="typeMessage"
                        (keydown.enter)="onKeydownSearch($event)">
                    </p-dropdown>
                </div>
                <div class="col-12" dir="ltr">

                    <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                            class="normal-button" icon="pi pi-search" (click)="messageSearch()"></button>&nbsp;&nbsp;
                    <button pButton label="{{'button.clear'|transloco}}"
                            icon="pi pi-filter-slash"  class="my-1 px-4 py-2 border normal-button" [outlined]="true"
                            style="margin: 6px" (click)="clear()"></button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-12">
                <p-card>
                    <p-table [value]="messagesList" selectionMode="single"
                             [paginator]="true" [rows]="rows2" [showCurrentPageReport]="true" [(first)]="first2"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >شناسه واحد پیام</th>
                                <th >کد پیام</th>
                                <th >عنوان پیام</th>
                                <th >بخش پیام ها</th>
                                <th >پیام سیستمی</th>
                                <th >operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="row">{{messages.messageId}}</td>
                                <td [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.code|moreChar19}}
                                </td>
                                <td
                                    [pTooltip]="messages.title"
                                    [tooltipDisabled]="messages.title?messages.title.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td>{{messages.tableId|messagesCategory}}</td>
                                <td>
                                    <img *ngIf="messages.isSystemMessage==1"  class="w-6 h-6 object-contain block"
                                         src="assets/icons/correct.jpeg">
                                    <img *ngIf="messages.isSystemMessage==0"  class="w-6 h-6 object-contain block"
                                         src="assets/icons/cross.jpeg">
                                </td>
                                <td dir="ltr">
                                    <button pButton label="انتخاب پیام" icon="pi pi-check"
                                            (click)="selectedMessage(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>
