<p-toast />
<app-breadcrumbs id="section" *ngIf="!endpointFlag&&!apiModuleFlag&&!clientFlag" (backClicked)="BeforeButton()"></app-breadcrumbs>
<div class="grid flex-column">
    <p-panel header="{{'label.header.accessList'|transloco}}" *ngIf="!endpointFlag&&!apiModuleFlag&&!clientFlag">
        <br>
        <p-panel header="{{'label.header.dataFilter'|transloco}}">
            <div class="grid grid-cols-12">
                <div class="col-4">
                    <label class="normal-label"> <span >{{'input.clientName'|transloco}} :</span></label><br>
                    <p-dropdown
                            (keydown.enter)="onKeydown($event)"
                            (onChange)="search()"
                            [options]="clientListOptions"
                            [(ngModel)]="clientId"
                            optionValue="clientId"
                            [filter]="true"
                            filterBy="name"
                            optionLabel="name"
                            [disabled]="clientNameFlag"
                    >
                    </p-dropdown>
                </div>
                <div class="col-4"></div>

                <div class="col-4" dir="ltr">
                    <button pButton label="{{'button.search' | transloco}}"
                            style="width: 110px;margin: 3px;margin-top: 20px"
                            class="normal-button" icon="pi pi-search" (click)="search()"></button>&nbsp;&nbsp;
                    <button pButton label="{{'button.clear'|transloco}}"  class="my-1 px-4 py-2 border normal-button" [outlined]="true"
                            icon="pi pi-filter-slash"
                          (click)="clear()"></button>
                </div>
                <div class="col-4">
                    <label class="normal-label"> <span >{{'dropdown.partyName'|transloco}} :</span></label><br>
                    <p-dropdown
                            (keydown.enter)="onKeydown($event)"
                            [options]="partyListOptions"
                            [(ngModel)]="partyId"
                            optionValue="partyId"
                            [filter]="true"
                            filterBy="title"
                            optionLabel="title"
                            (onChange)="OnchangeParty($event)">
                        <!-- [options]="protocolOptions"
                          -->
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <label class="normal-label"> <span >{{'dropdown.moduleTitle'|transloco}} :</span></label><br>
                    <p-dropdown
                            (keydown.enter)="onKeydown($event)"
                            (onChange)="search()"
                            [options]="moduleListOptions"
                            [(ngModel)]="moduleId"
                            optionValue="moduleId"
                            [filter]="true"
                            filterBy="moduleTitle"
                            optionLabel="moduleTitle">
                        <!-- [options]="protocolOptions"
                          -->
                    </p-dropdown>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <button pButton label="{{'button.createAccessList' | transloco}}"
                            (click)="addApiSelect()" icon="pi pi-plus"></button>
                </div>
            </div>
        </p-panel>
        <br>
        <p-table [value]="accessList" selectionMode="single"
                 [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                 [currentPageReportTemplate]=paginationLabel
                 [rowsPerPageOptions]="[5,10,25,50,100]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="row" class="row" >
                        table.header.row
                        <p-sortIcon field="row"></p-sortIcon>
                    </th>
                    <th pSortableColumn="partyName" class="partyName" >
                        table.header.partyName
                        <p-sortIcon field="partyName"></p-sortIcon>
                    </th>

                    <th pSortableColumn="moduleTitle" class="moduleTitle" >
                        table.header.moduleTitle
                        <p-sortIcon field="moduleTitle"></p-sortIcon>
                    </th>
                    <th pSortableColumn="clientName" class="clientName" >
                        table.header.clientName
                        <p-sortIcon field="clientName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="apiTitle" class="apiTitle" >
                        table.header.apiTitle
                        <p-sortIcon field="clientName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="apiCount" class="apiCount" >
                        table.header.apiCount
                        <p-sortIcon field="apiCount"></p-sortIcon>
                    </th>
                    <th pSortableColumn="callCount" class="callCount" >
                        table.header.callCount
                    </th>
                    <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >
                        table.header.operation
                    </th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-access>
                <tr [pSelectableRow]="access">
                    <td class="row">{{access.row}}</td>
                    <td class="partyName"
                        [pTooltip]="access.partyName"
                        [tooltipDisabled]="access.partyName?access.partyName.length < 20:false"
                    >
                        {{access.partyName|moreChar19}}
                    </td>
                    <td class="moduleTitle" [ngStyle]="{'text-align': 'center !important'}"
                        [pTooltip]="access.moduleTitle"
                        [tooltipDisabled]="access.moduleTitle?access.moduleTitle.length < 20:false">
                        <div [ngStyle]="{ 'border-radius':' 2.5px','color':access.moduleTitle == 'فاقد ماژول' ?
                         '#5b0e79' :'rgb(0,0,0)',
                        'background-color': access.moduleTitle == 'فاقد ماژول' ?'#c987f1' :false ,
                        'width':access.moduleTitle == 'فاقد ماژول' ?'90px':'auto','margin':' 0 auto'}">
                            {{access.moduleTitle|moreChar19}}</div>
                    </td>
                    <td class="clientName" [pTooltip]="access.clientName"
                        [tooltipDisabled]="access.clientName?access.clientName.length < 20:false"
                        [ngStyle]="{'text-align': 'center !important'}">
                        <div [ngStyle]="{ 'border-radius':' 2.5px','color':access.clientName == 'اختصاص نیافته' ?
                         '#8c1a1f' :'rgb(0,0,0)',
                         'background-color': access.clientName == 'اختصاص نیافته' ?'#dc8585' :false ,
                        'width':access.clientName == 'اختصاص نیافته' ?'90px':'auto','margin':' 0 auto'}">
                            {{access.clientName|moreChar19}}</div>
                    </td>

                    <td class="apiTitle" [ngStyle]="{'text-align': 'center !important'}"
                        [pTooltip]="access.apiTitle"
                        [tooltipDisabled]="access.apiTitle?access.apiTitle.length < 20:false">
                        <div [ngStyle]="{ 'border-radius':' 2.5px','color':access.apiTitle == 'اختصاص نیافته' ?
                         '#8c1a1f' :'rgb(0,0,0)',
                         'background-color': access.apiTitle == 'اختصاص نیافته' ?'#dc8585' :false ,
                        'width':access.apiTitle == 'اختصاص نیافته' ?'90px':'auto','margin':' 0 auto'}">
                            {{access.apiTitle|moreChar19}}</div>
                    </td>
                    <td class="apiCount" [ngStyle]="{'text-align': 'center !important'}">
                        <div [ngStyle]="{ 'border-radius':' 2.5px','color':access.apiCount == 'فاقد سرویس در ماژول' ?
                         '#79370e' :'rgb(0,0,0)',
                        'background-color': access.apiCount == 'فاقد سرویس در ماژول' ?'#f1b387' :false ,
                        'width':access.apiCount == 'فاقد سرویس در ماژول' ?'90px':'auto','margin':' 0 auto'}">
                            {{access.apiCount}}</div>
                    </td>
                    <td class="callCount">
                        <label class="normal-label"> {{'table.detail.daily'|transloco}} :{{access.dailyCount}}</label><br>
                        <hr>
                        <label class="normal-label"> {{'table.detail.weekly'|transloco}} :{{access.weeklyCount}}</label><br>
                        <hr>
                        <label class="normal-label"> {{'table.detail.monthly'|transloco}} :{{access.monthlyCount}}</label><br>
                    </td>
                    <td class="text-right border-r border-[#ebe8e8]" >
                        <button (click)="setRecord(access)" type="button" class="p-button-rounded  " pButton
                                pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)"></button>&nbsp;
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="col-12" dir="ltr" *ngIf="showListFlag">
            <button (click)="BeforeButton()"
                    style="width: 30px!important;" pButton
                    class="btn-warning p-button-warning" icon="pi pi-arrow-right"
                    matTooltip="{{'button.back' | transloco}}"></button>
        </div>
    </p-panel>
    <div class="col-12" *ngIf="endpointFlag">
        <app-endpoint-management [inputAccess]="accessDto" (close)="onClose($event)"></app-endpoint-management>
    </div>
    <div class="col-12" *ngIf="apiModuleFlag">
        <app-basemodule-api-module [inputAccess]="accessDto" (close)="onClose($event)"></app-basemodule-api-module>
    </div>
    <div class="col-12" *ngIf="clientFlag">
        <app-client-api-management [inputAccess]="DirectBaseAccess"
                                   (close)="onClose($event)"></app-client-api-management>
    </div>
</div>
<p-dialog [style]="{'width':'60%'}" [(visible)]="dialogApiFlag" (onHide)="flagChange()"
          [modal]="true" [draggable]="false"
          [resizable]="true">
    <div class="grid grid-cols-12">
        <p-fieldset legend="{{headerDialog}}" >
            <p-panel header="{{'label.header.lastStepFinalRegistration'|transloco}}" *ngIf="index5"
                     style="width: 100%;margin: 1rem 1rem 0 1rem">
                <p-panel header="{{'label.header.serviceRegistrationInfo'|transloco}}"
                         style="width: 100%;margin: 1rem 1rem 0 1rem">
                    <div class="grid grid-cols-12">
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.apiTitle'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthTitleApi">
                                <label class="text-gray-700 ftextDetails" dir="ltr"
                                       [pTooltip]="titleApiDe"
                                       [tooltipDisabled]="titleApiDe?titleApiDe.length < 20:false">
                                    {{titleApiDe|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.apiName'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthNameApi">
                                <label class="text-gray-700 ftextDetails" dir="ltr"
                                       [pTooltip]="nameApiDe"
                                       [tooltipDisabled]="nameApiDe?nameApiDe.length < 20:false">
                                    {{nameApiDe|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.retryCountApi'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthRetryCountApi">
                                <label class="text-gray-700 ftextDetails"
                                       [pTooltip]="retryCountApiDe"
                                       [tooltipDisabled]="retryCountApiDe?retryCountApiDe.length < 20:false">
                                    {{retryCountApiDe|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.maxCallApi'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthMaxCallApi">
                                <label class="text-gray-700 ftextDetails"
                                       [pTooltip]="maxCallApiDe"
                                       [tooltipDisabled]="maxCallApiDe?maxCallApiDe.length < 20:false">
                                    {{maxCallApiDe|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.dailyCountApi'|transloco}}</span> :
                            </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthDailyCountApi">
                                <label class="text-gray-700 ftextDetails">
                                    {{dailyCountApiDe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.weeklyCountApi'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthWeeklyCountApi">
                                <label class="text-gray-700 ftextDetails"
                                       [pTooltip]="String(weeklyCountApiDe)"
                                       [tooltipDisabled]="weeklyCountApiDe?weeklyCountApiDe?.toString()?.length < 20:false">
                                    {{String(weeklyCountApiDe)|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.monthlyCount'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthMonthlyCountApi">
                                <label class="text-gray-700 ftextDetails" [pTooltip]="String(monthlyCountApiDe)"
                                       [tooltipDisabled]="monthlyCountApiDe?monthlyCountApiDe?.toString()?.length < 20:false">
                                    {{String(monthlyCountApiDe)|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                    </div>
                </p-panel>
                <p-panel header="{{'label.header.ruleRegistrationInfo'|transloco}}"
                         style="width: 100%;margin: 1rem 1rem 0 1rem">
                    <div class="grid grid-cols-12">
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.ruleName'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthruleName">
                                <label class="text-gray-700 ftextDetails"
                                       [pTooltip]="ruleNameDe"
                                       [tooltipDisabled]="ruleNameDe?ruleNameDe.length < 20:false">
                                    {{ruleNameDe|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.ruleTemplate'|transloco}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthRuleTemplate">
                                <label class="text-gray-700 ftextDetails">{{ruleTemplateDe|formatRule}}</label>
                            </div>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.httpsStatus'|transloco}}</span> :
                            </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthHttpsstatus"
                                 [pTooltip]="httpsstatusDe"
                                 [tooltipDisabled]="httpsstatusDe?httpsstatusDe.length < 20:false">
                                <label class="text-gray-700 ftextDetails">{{httpsstatusDe|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <!--  <div class="col-4">
                              <label class="normal-label"> <span transloco dir="rtl">عنوان پیام</span> : </label><br>
                              <div class="lblDetailsDia" [style.width.%]="widthMessageTitle">
                                  <label class="text-gray-700 ftextDetails"
                                         [pTooltip]="messageTitleDe"
                                         [tooltipDisabled]="messageTitleDe?messageTitleDe.length < 20:false">
                                      {{messageTitleDe|threeDotDetailsPipe}}</label>
                              </div>
                          </div>-->
                    </div>
                </p-panel>
                <p-panel header="{{'label.header.messageRegistrationInfo'|transloco}}"
                         style="width: 100%;margin: 1rem 1rem 0 1rem">
                    <div class="grid grid-cols-12">
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.idNewMessageUnit'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthMessageId">
                                <label class="text-gray-700 ftextDetails">{{messageIdDe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.idNewCodeMessageUnit'}}</span> :
                            </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthCodeMessage">
                                <label class="text-gray-700 ftextDetails">{{codeMessageDe}}</label>
                            </div>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.idNewTitleMessageUnit'}}</span> :
                            </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthTitleMessage"
                                 [pTooltip]="titleMessageDe"
                                 [tooltipDisabled]="titleMessageDe?titleMessageDe.length < 20:false">
                                <label class="text-gray-700 ftextDetails">{{titleMessageDe|threeDotDetailsPipe}}</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span transloco dir="rtl">{{'label.detail.idNewTableIdUnit'}}</span> : </label><br>
                            <div class="lblDetailsDia" [style.width.%]="widthTableId">
                                <label class="text-gray-700 ftextDetails">{{tableIdDe|messagesCategory}}</label>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </p-panel>
            <div class="grid grid-cols-12" *ngIf="index1">
                <p-panel header="{{'label.header.firstStepChooseService'|transloco}}" style="margin: 1rem 1rem 0 1rem">
                    <p-table [value]="apiAttachList" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
                             [(first)]="first"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >table.header.row</th>
                                <th >table.header.dialog.apiTitle</th>
                                <th >table.header.dialog.apiName</th>
                                <th >table.header.dialog.retryCount</th>
                                <th >table.header.dialog.maxCall</th>
                                <th pSortableColumn="callCount" class="callCount" >
                                    table.header.dialog.callCount
                                </th>
                                <th pSortableColumn="status" class="status" >
                                    table.header.dialog.status
                                </th>
                                <th >table.header.operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-api>
                            <tr [pSelectableRow]="api">
                                <td class="row">{{i + 1}}</td>
                                <td
                                        [pTooltip]="api.title"
                                        [tooltipDisabled]="api.title?
                                    api.title.toString().length < 20:false"
                                >
                                    {{api.title}}
                                </td>
                                <td
                                        [pTooltip]="api.name"
                                        [tooltipDisabled]="api.name?
                                    api.name.length < 20:false"
                                >
                                    {{api.name|moreChar19}}
                                </td>
                                <td
                                        [pTooltip]="api.retryCount"
                                        [tooltipDisabled]="api.retryCount?
                                    api.retryCount.length < 20:false"
                                >
                                    {{api.retryCount|moreChar19}}
                                </td>
                                <td
                                        [pTooltip]="api.maxCall"
                                        [tooltipDisabled]="api.maxCall?
                                    api.maxCall.length < 20:false"
                                >
                                    {{api.maxCall|moreChar19}}
                                </td>
                                <td class="callCount">
                                    <label class="normal-label"> {{'table.detail.dialog.monthlyCount'|transloco}}
                                        :{{api.dailyCount}}</label><br>
                                    <hr>
                                    <label class="normal-label"> {{'table.detail.dialog.weeklyCountApi'|transloco}}
                                        :{{api.weeklyCount}}</label><br>
                                    <hr>
                                    <label class="normal-label"> {{'table.detail.dialog.monthlyCount'|transloco}}
                                        :{{api.monthlyCount}}</label><br>
                                </td>
                                <td class="status" [ngStyle]="{'text-align': 'center !important'}">
                                    <div [ngStyle]="{ 'border-radius':' 2.5px','color':api.status == true ?
                         '#258F30' :'#962515',
                         'background-color': api.status == false ?'#F18B7D' : '#85DC8F',
                         'width':'45px','margin':' 0 auto'}">
                                        {{api.status|statusPipe}}</div>
                                </td>
                                <td class="operation" dir="ltr">
                                    <button pButton label="{{'button.serviceSelection'|transloco}}" icon="pi pi-check"
                                            [disabled]="selectApiFlag" (click)="selectApi(api)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
            </div>
            <div class="grid grid-cols-12" *ngIf="index2" style="width: 100%">
                <p-panel header="{{'label.header.dialog.secondStepDeterminingServiceCallLimit'|transloco}}"
                         style="margin: 1rem 1rem 0 0">
                    <div class="grid grid-cols-12">
                        <div class="col-4">
                            <label class="normal-label"> <span > {{'table.detail.dialog.numberServiceCallsPerDay'|transloco}} :</span></label><br>
                            <input [(ngModel)]="dailyCount" pKeyFilter="int"
                                   dir="ltr" pInputText>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span >{{'table.detail.dialog.numberServiceCallsPerWeek'|transloco}} :</span></label><br>
                            <input [(ngModel)]="weeklyCount" pKeyFilter="int"
                                   dir="ltr" pInputText>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span >{{'table.detail.dialog.numberServiceCallsPerMonth'|transloco}} :</span></label><br>
                            <input [(ngModel)]="monthlyCount" pKeyFilter="int"
                                   dir="ltr" pInputText>
                        </div>
                        <div class="col-12" dir="ltr" style="margin-top: 15px">
                            <button pButton class=" " label="{{'button.accept'|transloco}}"
                                    icon="pi pi-check"
                                    (click)="fakeRegister()"
                            ></button>
                        </div>
                    </div>
                </p-panel>
            </div>
            <div class="grid grid-cols-12" *ngIf="index3" style="width: 100%">
                <p-panel header="{{'label.header.dialog.thirdStepChoosingRule'|transloco}}"
                         style="margin: 1rem 1rem 0 0">
                    <div class="grid grid-cols-12">
                        <div class="col-4">
                            <label class="normal-label"> <span
                                    >{{'table.detail.dialog.thirdStepChoosingRule'|transloco}} :</span></label><br>
                            <input [(ngModel)]="ruleName" pInputText>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4" dir="ltr">
                            <button pButton label="{{'button.search' | transloco}}"
                                    style="width: 110px;margin: 3px;margin-top: 20px"
                                    class="normal-button"  icon="pi pi-search"
                                    (click)="searchRules()"></button>&nbsp;&nbsp;
                            <button pButton label="{{'button.clear' | transloco}}" [outlined]="true"
                                    icon="pi pi-filter-slash"
                                    style="margin: 3px;margin-top: 20px" (click)="clearRules()"></button>
                        </div>
                        <div class="col-12">
                            <p-table [value]="ruleList" selectionMode="single"
                                     [paginator]="true" [rows]="rows2" [showCurrentPageReport]="true"
                                     [(first)]="first2"
                                     [currentPageReportTemplate]=paginationLabel
                                     [rowsPerPageOptions]="[5,10,25,50,100]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="ruleId" >
                                            table.detail.dialog.ruleId
                                        </th>
                                        <th class="name" >
                                            table.detail.dialog.ruleName
                                        </th>
                                        <th class="ruleTemplate" >
                                            table.detail.dialog.ruleTemplate
                                        </th>
                                        <th class="httpsstatus" >
                                            table.detail.dialog.httpsStatus
                                        </th>
                                        <th class="messageTitle" >
                                            table.detail.dialog.messageTitle
                                        </th>

                                        <th style="border-right: 1px solid #ebe8e8;"
                                            >
                                            table.header.operation
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template let-i="rowIndex" pTemplate="body" let-roule>
                                    <tr [pSelectableRow]="roule">
                                        <td class="ruleId">{{roule.ruleId}}</td>
                                        <td class="name"
                                            [pTooltip]="roule.name"
                                            [tooltipDisabled]="roule.name?roule.name.length < 20:false">
                                            {{roule.name|moreChar19}}
                                        </td>
                                        <td class="ruleTemplate">{{roule.ruleTemplate|formatRule}}</td>
                                        <td class="httpsstatus"
                                            [pTooltip]="roule.httpsstatus"
                                            [tooltipDisabled]="roule.httpsstatus?roule.httpsstatus.length < 20:false"
                                        >
                                            {{roule.httpsstatus|moreChar19}}
                                        </td>
                                        <td class="messageTitle"
                                            [pTooltip]="roule.messageTitle"
                                            [tooltipDisabled]="roule.messageTitle?roule.messageTitle.length < 20:false"
                                        >
                                            {{roule.messageTitle|moreChar19}}
                                        </td>
                                        <td dir="ltr">
                                            <button pButton label="{{'button.selectedRule'|transloco}}"
                                                    icon="pi pi-check"
                                                    (click)="selectedRule(roule)"></button>&nbsp;
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                </p-panel>
            </div>
            <div class="grid grid-cols-12" *ngIf="index4" style="width: 100%;margin: 1rem 1rem 0 1rem">
                <p-panel header="{{'label.header.dialog.stepFourthSelectMessages' | transloco}}">
                    <div class="grid grid-cols-12">
                        <div class="col-4">
                            <label class="normal-label">
<span class="red-color-text">* </span>
<span >{{'dropdown.codeMessage'}} :</span></label><br>
                            <p-dropdown
                                    [options]="statusCodeOptions"
                                    [(ngModel)]="codeMessage"
                                    optionValue="code"
                                    optionLabel="name"
                                    (onChange)="messageSearch()"
                            >
                                <!--                        (onChange)="onchangeStatusCode()"-->
                            </p-dropdown>
                        </div>
                        <div class="col-4">
                            <label class="normal-label">
<span class="red-color-text">* </span>
<span >{{'input.titleMessage'}} :</span></label><br>
                            <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)"
                                   pInputText>
                        </div>
                        <div class="col-4">
                            <label class="normal-label">
<span class="red-color-text">* </span>
<span >{{'input.faTextMessage'}} :</span></label><br>
                            <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)"
                                   pInputText>
                        </div>
                        <div class="col-4">
                            <label class="normal-label"> <span >{{'input.enTextMessage'}} :</span></label><br>
                            <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)"
                                   pInputText>
                        </div>
                        <div class="col-4">
                            <label class="normal-label">
<span class="red-color-text">* </span>
<span >{{'dropdown.categoryMessages'}} :</span></label><br>
                            <p-dropdown
                                    [options]="categoryMessages"
                                    optionValue="code"
                                    optionLabel="name"
                                    [(ngModel)]="tableIdMessage"
                                    (onChange)="messageSearch()">
                            </p-dropdown>
                        </div>
                        <div class="col-4">
                            <label class="normal-label">
<span class="red-color-text">* </span>
<span >{{'dropdown.typeMessages'}} :</span></label><br>
                            <p-dropdown
                                    [options]="typeMessages"
                                    optionValue="code"
                                    optionLabel="name"
                                    [(ngModel)]="typeMessage"
                                    (onChange)="messageSearch()">
                            </p-dropdown>
                        </div>
                        <div class="col-4">
                            <button pButton style="margin: 6px"
                                    severity="success" dir="ltr"
                                    label="{{'button.recordInfoSelectMessage' | transloco}}"
                                    icon="pi pi-check"
                                    (click)="onRegisterMessage()"
                            ></button>&nbsp;
                            <!--  (click)="onRegisterMessage()"-->
                        </div>
                        <div class="col-8" dir="ltr">

                            <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                                    class="normal-button"  icon="pi pi-search" (click)="messageSearch()"></button>&nbsp;&nbsp;
                            <button pButton label="{{'button.clear' | transloco}}" [outlined]="true"
                                    icon="pi pi-filter-slash"
                                    style="margin: 6px" (click)="messageClear()"></button>
                        </div>

                        <div class="col-12">
                            <!--
                                                        <p-card>
                            -->
                            <p-table [value]="messagesList" selectionMode="single"
                                     [paginator]="true" [rows]="rows2" [showCurrentPageReport]="true"
                                     [(first)]="first2"
                                     [currentPageReportTemplate]=paginationLabel
                                     [rowsPerPageOptions]="[5,10,25,50,100]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="row" >table.header.dialog.messageUnitId</th>
                                        <th >table.detail.dialog.messageCode</th>
                                        <th >table.detail.dialog.messageTitle</th>
                                        <th >table.detail.dialog.messageTableId</th>
                                        <th >table.detail.dialog.isSystemMessage</th>
                                        <th >table.header.operation</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                                    <tr [pSelectableRow]="messages">
                                        <td class="row">{{messages.messageId}}</td>
                                        <td>{{messages.code}}</td>
                                        <td
                                                [pTooltip]="messages.tableId"
                                                [tooltipDisabled]="messages.tableId?messages.tableId.length < 20:false"
                                        >
                                            {{messages.title|moreChar19}}
                                        </td>
                                        <td>{{messages.tableId|messagesCategory}}</td>
                                        <td>
                                            <img *ngIf="messages.isSystemMessage==1"  class="w-6 h-6 object-contain block"
                                                 src="assets/icons/correct.jpeg">
                                            <img *ngIf="messages.isSystemMessage==0"  class="w-6 h-6 object-contain block"
                                                 src="assets/icons/cross.jpeg">
                                        </td>
                                        <td dir="ltr">
                                            <button pButton label="{{'button.selectedMessage'|transloco}}"
                                                    icon="pi pi-check"
                                                    (click)="selectedMessage(messages)"></button>&nbsp;
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-panel>
            </div>
            <div class="col-12" dir="ltr" style="margin-top: 15px">
                <button pButton label="{{'button.continuation' | transloco}}" (click)="nextPageApi()" *ngIf="nextFlag"
                        class="p-button-Purple" icon="pi pi-arrow-circle-left" [disabled]="nextDisableFlag"
                ></button>&nbsp;
                <button pButton label="{{'button.cancel' | transloco}}" (click)="onCancel()"
                        severity="danger" icon="pi pi-times" [outlined]="true"
                ></button>&nbsp;
                <button pButton severity="success" label="{{'button.finalRegistrationInfo' | transloco}}"
                        icon="pi pi-check"
                        *ngIf="registerFlag"
                        (click)="onRegisterAttachment()" severity="success"></button>&nbsp;

                <button (click)="BeforeButtonDialog()" class="p-button-warning" *ngIf="beforeFlag"
                        label="{{'button.back' | transloco}}" (click)="beforePageApi()"
                        pButton icon="pi pi-arrow-circle-right"
                ></button>&nbsp;
            </div>
        </p-fieldset>
    </div>
</p-dialog>
