<!--
<p-toast />
<app-breadcrumbs id="section" *ngIf="!ruleClientFlag"></app-breadcrumbs>
<div class="grid flex-column">
    <p-panel header="{{'clientsApi.header.clientsApi' | transloco}}" *ngIf="!ruleClientFlag&&!registerFlag&&!updateFlag">
        <div class="grid grid-cols-12">
            <div class="col-4">
                <label class="normal-label"> <span transloco dir="rtl">نام سرویس</span> : </label><br>
                <div class="lblDetailsRight"
                     [pTooltip]="apiName"
                     [tooltipDisabled]="apiName?apiName.length < 20:false"
                >
                    <label class="text-gray-700 ftextDetails">{{apiName|moreChar19}}</label>
                </div>
            </div>
            <div class="col-4">
                <label class="normal-label"> <span transloco dir="rtl">عنوان سرویس</span> : </label><br>
                <div class="lblDetailsRight"
                     [pTooltip]="apiTitle"
                     [tooltipDisabled]="apiTitle?apiTitle.length < 20:false"
                >
                    <label class="text-gray-700 ftextDetails">{{apiTitle|moreChar19}}</label>
                </div>
            </div>
            <div class="col-4"></div>

            <br>
            &lt;!&ndash;   <div class="col-12">
                   &lt;!&ndash;<button pButton label="{{'افزودن' | transloco}}"
                           icon="pi pi-plus " (click)="showAdd()"></button>&nbsp;&ndash;&gt;
                   <button pButton label="{{'اتصال سرویس به کلاینت های موجود' | transloco}}"
                           icon="pi pi-link " (click)="showClients()"></button>
               </div>&ndash;&gt;
            <br>
            <div class="col-12">
                <p-table [value]="clientList" *ngIf="!registerFlag&&!updateFlag" selectionMode="single"
                         [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                         [currentPageReportTemplate]=paginationLabel
                         [rowsPerPageOptions]="[5,10,25,50,100]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="row" class="row" >
                                row
                                <p-sortIcon field="row"></p-sortIcon>
                            </th>
                            <th pSortableColumn="name" class="name" >
                                نام
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="mobileNo" class="mobileNo" >
                                شماره موبایل
                                <p-sortIcon field="mobileNo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="organizationCode" class="organizationCode" >
                                کد سازمان
                                <p-sortIcon field="organizationCode"></p-sortIcon>
                            </th>
                            <th pSortableColumn="allowedAccountno" class="allowedAccountno" >
                                شماره حساب های مجاز
                                <p-sortIcon field="allowedAccountno"></p-sortIcon>
                            </th>
                            <th pSortableColumn="status" class="status" >
                                وضعیت
                                <p-sortIcon field="status"></p-sortIcon>
                            </th>
                            &lt;!&ndash; <th style="text-align: right !important;border-right: 1px solid #ebe8e8;" >
                                 operation
                             </th>&ndash;&gt;
                        </tr>
                    </ng-template>
                    <ng-template let-i="rowIndex" pTemplate="body" let-client>
                        <tr [pSelectableRow]="client">
                            <td class="row">{{client.row}}</td>
                            <td class="name"
                                [pTooltip]="client.name"
                                [tooltipDisabled]="client.name?client.name.length < 20:false"
                            >
                                {{client.name|moreChar19}}
                            </td>
                            <td class="mobileNo">{{client.mobileNo}}</td>
                            <td class="organizationCode"
                                [pTooltip]="client.organizationCode"
                                [tooltipDisabled]="client.organizationCode?client.organizationCode.toString().length < 20:false"
                            >
                                {{client.organizationCode|moreChar19}}
                            </td>
                            <td class="allowedAccountno"
                                [pTooltip]="client.allowedAccountno"
                                [tooltipDisabled]="client.allowedAccountno?client.allowedAccountno.toString().length < 20:false"
                            >
                                {{client.allowedAccountno|moreChar19}}
                            </td>
                            <td class="status" [ngStyle]="{'text-align': 'center !important'}">
                                <div [ngStyle]="{ 'border-radius':' 2.5px','color':client.status == true ?
                         '#258F30' :'#962515',
                         'background-color': client.status == false ?'#F18B7D' : '#85DC8F',
                         'width':'45px','margin':' 0 auto'}">
                                    {{client.status|statusPipe}}</div>
                            </td>
                            &lt;!&ndash;<td class="text-right border-r border-[#ebe8e8]" >
                                <button (click)="setRecord(client)" type="button" class="p-button-rounded  "
                                        pButton
                                        pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)"></button>&nbsp;
                                <p-menu appendTo="body" #menu [popup]="true" [model]="items"></p-menu>
                            </td>&ndash;&gt;
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-12" dir="ltr">
                <button (click)="BeforeButton()" *ngIf="!updateFlag&&!registerFlag"
                        style="width: 30px!important;" pButton
                        class="btn-warning p-button-warning" icon="pi pi-arrow-right"
                        matTooltip="{{'بازگشت' | transloco}}"></button>

            </div>
        </div>
    </p-panel>
    <div class="col-12" *ngIf="registerFlag">
        <app-client-api-register [registerClintApi]="clientApiDto"
                                 (close)="onClose($event)"></app-client-api-register>
    </div>
    <div class="col-12" *ngIf="updateFlag">
        <app-client-api-update [updateClient]="clientDto"
                               (close)="onClose($event)"></app-client-api-update>
    </div>
    &lt;!&ndash; <div class="col-12" *ngIf="ruleClientFlag">
         <app-rule-client [inputClientApi]="clientDto"
                          (close)="onClose($event)"></app-rule-client>
     </div>&ndash;&gt;
</div>

<p-dialog [style]="{'width':'60%'}" [(visible)]="dialogClientFlag"
          [modal]="true" [draggable]="false" appendTo="body"
          [resizable]="true">
    <p-panel header="{{'انتخاب کلاینت'}}">
        <div class="grid grid-cols-12">
            <div class="col-4">
                <label class="normal-label"> <span >نام کلاینت :</span></label><br>
                <input [(ngModel)]="clientName" (keydown.enter)="onKeydownSearch($event)"
                       pInputText>
            </div>
            <div class="col-4">
                <label class="normal-label"> <span >شماره موبایل :</span></label><br>
                <input [(ngModel)]="mobile" (keydown.enter)="onKeydownSearch($event)"
                       pInputText>
            </div>
            <div class="col-4" dir="ltr">
                <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                        class="normal-button" icon="pi pi-search" (click)="clientSearch()"></button>&nbsp;&nbsp;
                <button pButton label="{{'button.clear'|transloco}}"   class="w-[110px] my-1 px-4 py-2 normal-button "
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        style="margin: 6px" (click)="clear()"></button>
            </div>

            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-12">
                <p-card>
                    <p-table [value]="clientAttachList" selectionMode="single"
                             [paginator]="true" [rows]="rows2" [showCurrentPageReport]="true" [(first)]="first2"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >table.header.row</th>
                                <th >نام کلاینت</th>
                                <th >کد سازمان</th>
                                <th >شماره موبایل</th>
                                <th >operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-client>
                            <tr [pSelectableRow]="client">
                                <td class="row">{{i + 1}}</td>
                                <td
                                    [pTooltip]="client.name"
                                    [tooltipDisabled]="client.name?
                                    client.name.length < 20:false"
                                >
                                    {{client.name|moreChar19}}
                                </td>
                                <td
                                    [pTooltip]="client.organizationCode"
                                    [tooltipDisabled]="client.organizationCode?
                                    client.organizationCode.toString().length < 20:false"
                                >
                                    {{client.organizationCode|moreChar19}}
                                </td>
                                <td>{{client.mobileNo}}</td>

                                <td dir="ltr">
                                    <button pButton label="انتخاب کلاینت" icon="pi pi-check"
                                            (click)="selectedClient(client)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>
-->
<p-toast></p-toast>

<app-breadcrumbs id="section" *ngIf="!ruleClientFlag" (backClicked)="BeforeButton()"></app-breadcrumbs>

<div class="flex flex-col mx-5 my-10"  *ngIf="!ruleClientFlag && !registerFlag && !updateFlag">
<!--
    <p-panel header="{{'clientsApi.header.clientsApi' | transloco}}">
-->
        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-4">
                <label class="normal-label">
                    <span  dir="rtl">
                        {{'clientsApi.detail.apiName'|transloco}} :
                    </span>
                </label>
                <div class="mt-1" [pTooltip]="apiName" [tooltipDisabled]="apiName ? apiName.length < 20 : false">
                    <label class="text-gray-700 block truncate">
                        {{ apiName | moreChar19 }}
                    </label>
                </div>
            </div>

            <div class="col-span-4">
                <label class="normal-label">
                    <span  dir="rtl">
                        {{'clientsApi.detail.apiTitle'|transloco}} :
                    </span>
                </label>
                <div class="mt-1" [pTooltip]="apiTitle" [tooltipDisabled]="apiTitle ? apiTitle.length < 20 : false">
                    <label class="text-gray-700 block truncate">
                        {{ apiTitle | moreChar19 }}
                    </label>
                </div>
            </div>

            <div class="col-span-4"></div>

            <div class="col-span-12">
                <p-table
                    [value]="clientList"
                    *ngIf="!registerFlag && !updateFlag"
                    selectionMode="single"
                    [paginator]="true"
                    [rows]="rows"
                    [showCurrentPageReport]="true"
                    [(first)]="first"
                    [currentPageReportTemplate]="paginationLabel"
                    [rowsPerPageOptions]="[5,10,25,50,100]"
                    class="mt-4"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="row" class="text-gray-700 row">
                                {{'clientsApi.table.header.row'|transloco}}
                                <p-sortIcon field="row"></p-sortIcon>
                            </th>
                            <th pSortableColumn="name" class="text-gray-700 name">
                                {{'clientsApi.table.header.name'|transloco}}
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="mobileNo" class="text-gray-700 mobileNo">
                                {{ 'clientsApi.table.header.mobileNo'|transloco }}
                                <p-sortIcon field="mobileNo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="organizationCode" class="text-gray-700 organizationCode">
                                {{'clientsApi.table.header.organizationCode'|transloco}}
                                <p-sortIcon field="organizationCode"></p-sortIcon>
                            </th>
                            <th pSortableColumn="allowedAccountno" class="text-gray-700 allowedAccountno">
                                {{'clientsApi.table.header.allowedAccountNo'|transloco}}
                                <p-sortIcon field="allowedAccountno"></p-sortIcon>
                            </th>
                            <th pSortableColumn="status" class="text-right status">
                                {{'clientsApi.table.header.status'|transloco}}
                                <p-sortIcon field="status"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template let-i="rowIndex" pTemplate="body" let-client>
                        <tr [pSelectableRow]="client">
                            <td class="row">{{ client.row }}</td>
                            <td class="name" [pTooltip]="client.name" [tooltipDisabled]="client.name ? client.name.length < 20 : false">
                                {{ client.name | moreChar19 }}
                            </td>
                            <td class="mobileNo">{{ client.mobileNo }}</td>
                            <td class="organizationCode" [pTooltip]="client.organizationCode" [tooltipDisabled]="client.organizationCode ? client.organizationCode.toString().length < 20 : false">
                                {{ client.organizationCode | moreChar19 }}
                            </td>
                            <td class="allowedAccountno" [pTooltip]="client.allowedAccountno" [tooltipDisabled]="client.allowedAccountno ? client.allowedAccountno.toString().length < 20 : false">
                                {{ client.allowedAccountno | moreChar19 }}
                            </td>
                            <td class="text-right status">
                                <div
                                    [ngClass]="{
                                 ' text-green-800 bg-green-300 ': client.status,
                                   ' text-red-800 bg-red-300 ': !client.status
                                   }"
                                    class="w-[65px] float-right text-center rounded-md"
                                >
                                    {{ client.status | statusPipe }}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
   <!-- </p-panel>-->

    <div class="col-span-12" *ngIf="registerFlag">
        <app-client-api-register [registerClintApi]="clientApiDto" (close)="onClose($event)"></app-client-api-register>
    </div>

    <div class="col-span-12" *ngIf="updateFlag">
        <app-client-api-update [updateClient]="clientDto" (close)="onClose($event)"></app-client-api-update>
    </div>

</div>

<!-- Dialog -->
<p-dialog
    [style]="{ 'width': '60%' }"
    [(visible)]="dialogClientFlag"
    [modal]="true"
    [draggable]="false"
    appendTo="body"
    [resizable]="true"
>
    <p-panel header="{{'انتخاب کلاینت'}}">
        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-4">
                <label class="text-gray-700 font-medium">نام کلاینت :</label>
                <input
                    [(ngModel)]="clientName"
                    (keydown.enter)="onKeydownSearch($event)"
                    pInputText
                    class="w-full mt-1"
                />
            </div>

            <div class="col-span-4">
                <label class="text-gray-700 font-medium">شماره موبایل :</label>
                <input
                    [(ngModel)]="mobile"
                    (keydown.enter)="onKeydownSearch($event)"
                    pInputText
                    class="w-full mt-1"
                />
            </div>

            <div class="col-span-4 flex items-end justify-start space-x-2" dir="ltr">
                <button
                    pButton
                    label="{{'button.search' | transloco}}"
                    icon="pi pi-search"
                    (click)="clientSearch()"
                    class="w-[110px] my-1 bg-blue-500 hover:bg-blue-600 text-white"
                ></button>

                <button
                    pButton
                    label="{{'button.clear' | transloco}}"
                    [outlined]="true"
                    icon="pi pi-filter-slash"
                    (click)="clear()"
                    class="w-[110px] my-1 bg-gray-200 hover:bg-gray-300 text-black"
                ></button>
            </div>

            <div class="col-span-12">
                <p-card>
                    <p-table
                        [value]="clientAttachList"
                        selectionMode="single"
                        [paginator]="true"
                        [rows]="rows2"
                        [showCurrentPageReport]="true"
                        [(first)]="first2"
                        [currentPageReportTemplate]="paginationLabel"
                        [rowsPerPageOptions]="[5,10,25,50,100]"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>ردیف</th>
                                <th>نام کلاینت</th>
                                <th>کد سازمان</th>
                                <th>شماره موبایل</th>
                                <th>عملیات</th>
                            </tr>
                        </ng-template>

                        <ng-template let-i="rowIndex" pTemplate="body" let-client>
                            <tr [pSelectableRow]="client">
                                <td>{{ i + 1 }}</td>
                                <td [pTooltip]="client.name" [tooltipDisabled]="client.name ? client.name.length < 20 : false">
                                    {{ client.name | moreChar19 }}
                                </td>
                                <td [pTooltip]="client.organizationCode" [tooltipDisabled]="client.organizationCode ? client.organizationCode.toString().length < 20 : false">
                                    {{ client.organizationCode | moreChar19 }}
                                </td>
                                <td>{{ client.mobileNo }}</td>
                                <td dir="ltr">
                                    <button pButton label="انتخاب کلاینت" icon="pi pi-check" (click)="selectedClient(client)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>

        </div>
    </p-panel>
</p-dialog>
