<!--
<div class="grid flex-column" id="section">
    <p-panel header="ثبت اطلاعات شرط قاعده (Conditions)">
        <div class="grid grid-cols-12">
            <div class="col-4">
                <label class="label-normal">
<span class="red-color-text">* </span>
<span >مکان ورودی :</span></label>
                <p-dropdown
                    [options]="conditionTypeOptions"
                    [(ngModel)]="conditionType"
                    optionValue="code"
                    optionLabel="name"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>
            <div class="col-4">
                <label class="label-normal">
<span class="red-color-text">* </span>
<span >نام ورودی :</span></label>
                <input [(ngModel)]="conditionName" (keydown.enter)="onKeydown($event)" pInputText>
            </div>
            <div class="col-4">
                <label class="label-normal">
<span class="red-color-text">* </span>
<span >نوع ورودی :</span></label>
                <p-dropdown
                    [options]="conditionFieldTypeOptions"
                    [(ngModel)]="conditionFieldType"
                    optionValue="code"
                    optionLabel="name"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>
            <div class="col-4">
                <label class="label-normal">
<span class="red-color-text">* </span>
<span >مقدار ورودی :</span></label>
                <input [(ngModel)]="conditionValue" (keydown.enter)="onKeydown($event)" pInputText>
            </div>
            <div class="col-4">
                <label class="label-normal">
<span class="red-color-text">* </span>
<span >عملگر :</span></label>
                <p-dropdown
                    [options]="ruleConditionOptions"
                    [(ngModel)]="ruleCondition"
                    optionValue="code"
                    optionLabel="name"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>
            <div class="col-4">
                <label class="label-normal">
<span class="red-color-text">* </span>
<span >فانکشن :</span></label>
                <p-dropdown
                    [options]="functionTypeOptions"
                    [(ngModel)]="functionType"
                    optionValue="code"
                    optionLabel="name"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>
            <div class="col-4">
                <label class="label-normal"><span >وضعیت :</span></label>
                <p-inputSwitch [(ngModel)]="status" (keydown.enter)="onKeydown($event)"
                ></p-inputSwitch>
            </div>
            <p-panel header="تخصیص پیام">
                <div class="grid grid-cols-12">
                    <div class="col-5">
                        <label class="label-normal"><span >شناسه واحد پیام :</span></label>
                        <div class="lblDetailsLeft">
                            <label class="text-gray-700 ftextDetails">{{this.messageId}}</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <label class="label-normal"><span >عنوان پیام :</span></label>
                        <div class="lblDetailsRight">
                            <label class="text-gray-700 ftextDetails">{{title}}</label>
                        </div>
                    </div>
                    <div class="col-span-2" dir="ltr">
                        <button (click)="showMessage()"
                                style="width: 30px!important;height: 30px!important;
                             margin-top: 0px!important" pButton
                                icon="pi pi-external-link"
                                matTooltip="{{'انتخاب پیام' | transloco}}"></button>&nbsp;
                        <button style="width: 30px!important;height: 30px!important;margin-top: 2px!important;"
                                matTooltip="{{'حذف پیام' | transloco}}" (click)="deleteMessage()"
                                pButton  severity="danger"  icon="pi pi-trash"></button>
                    </div>
                    <div class="col-5">
                        <label class="label-normal"><span >بخش پیام ها :</span></label>
                        <div class="lblDetailsRight">
                            <label class="text-gray-700 ftextDetails">{{tableId|tableId}}</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <label class="label-normal"><span >پیام(فارسی) :</span></label>
                        <div class="lblDetailsRight">
                            <label class="text-gray-700 ftextDetails">{{text}}</label>
                        </div>
                    </div>

                </div>
                <div class="col-4" hidden>
                    <label class="label-normal">
<span class="red-color-text">* </span>
<span >message id :</span></label>
                    <input [(ngModel)]="messageId" pInputText>
                </div>
            </p-panel>
        </div>

        <div class="col-12" dir="ltr" style="margin-top: 5px">
            <button pButton label="{{'button.cancel' | transloco}}"
                     severity="danger"  icon="pi pi-ban"
                    (click)="onCancel()"></button>&nbsp;
            <button pButton severity="success" label="{{'ثبت اطلاعات' | transloco}}" icon="pi pi-save"
                    (click)="onRegister()"></button>
        </div>
    </p-panel>
</div>

<p-dialog [style]="{'width':'55%'}" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" appendTo="body"
          [resizable]="true">
    <p-panel header="{{'انتخاب پیام ها' | transloco}}">
        <div class="grid grid-cols-12">
            <div class="grid grid-cols-12">
                <div class="col-4">
                    <label class="label-normal">
<span class="red-color-text">* </span>
<span >کد پیام :</span></label>
                    <input [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal">
<span class="red-color-text">* </span>
<span >عنوان پیام :</span></label>
                    <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal">
<span class="red-color-text">* </span>
<span >پیام(فارسی) :</span></label>
                    <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >پیام(انگلیسی) :</span></label>
                    <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)" pInputText>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >بخش پیام ها :</span></label>
                    <p-dropdown
                        appendTo="body"
                        [options]="categoryMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="tableIdMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <label class="label-normal"><span >نوع پیام ها :</span></label>
                    <p-dropdown
                        appendTo="body"
                        [options]="typeMessages"
                        optionValue="code"
                        optionLabel="name"
                        [(ngModel)]="typeMessage"
                        (onChange)="search()">
                    </p-dropdown>
                </div>
                <div class="col-4">
                    <button pButton style="margin: 6px"
                            severity="success" dir="ltr"
                            label="{{'ثبت اطلاعات و انتخاب پیام' | transloco}}"
                            icon="pi pi-check"
                            (click)="onRegisterMessage()"></button>&nbsp;
                </div>
                <div class="col-8" dir="ltr">

                    <button pButton label="{{'button.search' | transloco}}" style="width: 110px;margin: 6px"
                            class="normal-button" icon="pi pi-search" (click)="search()"></button>&nbsp;&nbsp;
                    <button pButton label="{{'button.clear'|transloco}}" [outlined]="true"
                            icon="pi pi-filter-slash"
                            style="margin: 6px" (click)="clear()"></button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>

            <div class="col-12">
                <p-card>
                    <p-table [value]="messagesList" selectionMode="single"
                             [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
                             [currentPageReportTemplate]=paginationLabel
                             [rowsPerPageOptions]="[5,10,25,50,100]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="row" >شناسه واحد پیام</th>
                                <th >کد پیام</th>
                                <th >عنوان پیام</th>
                                <th >بخش پیام ها</th>
                                <th >پیام سیستمی</th>
                                <th >operation</th>
                            </tr>
                        </ng-template>
                        <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                            <tr [pSelectableRow]="messages">
                                <td class="row">{{messages.messageId}}</td>
                                <td
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.code|moreChar19}}
                                </td>
                                <td
                                    [pTooltip]="messages.code"
                                    [tooltipDisabled]="messages.code?messages.code.length < 20:false"
                                >
                                    {{messages.title|moreChar19}}
                                </td>
                                <td>{{messages.tableId|messagesCategory}}</td>
                                <td>
                                    <img *ngIf="messages.isSystemMessage==1"
                                         src="assets/icons/correct.jpeg">
                                    <img *ngIf="messages.isSystemMessage==0"
                                         src="assets/icons/cross.jpeg">
                                </td>
                                <td dir="ltr">
                                    <button pButton label="انتخاب پیام" icon="pi pi-check "
                                            (click)="selectedMessage(messages)"></button>&nbsp;
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        </div>
    </p-panel>
</p-dialog>



-->
<p-toast />
<app-breadcrumbs class="p-0 m-0" [showBackButton]="false" ></app-breadcrumbs>
<div class="flex flex-col gap-4 p-4" id="section">
        <div class="grid grid-cols-12  gap-4">
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{ 'registerCondition.dropdown.conditionType'|transloco }} :</span>
                </label>
                <p-dropdown
                    [options]="conditionTypeOptions"
                    [(ngModel)]="conditionType"
                    optionValue="code"
                    optionLabel="name"
                    class="normal-dropdown"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>

            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{'registerCondition.input.conditionName'|transloco}} :</span>
                </label>
                <input [(ngModel)]="conditionName" (keydown.enter)="onKeydown($event)" pInputText   class="normal-input"/>
            </div>

            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{'registerCondition.dropdown.conditionFieldType'|transloco}} :</span>
                </label>
                <p-dropdown
                    class="normal-dropdown"
                    [options]="conditionFieldTypeOptions"
                    [(ngModel)]="conditionFieldType"
                    optionValue="code"
                    optionLabel="name"
                    (onChange)="getKeyFilterRegex($event)"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>

            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{'registerCondition.input.conditionValue'|transloco}} :</span>
                </label>
                <input [(ngModel)]="conditionValue" [pKeyFilter]="conditionValuePKeyFilter" (keydown.enter)="onKeydown($event)"  pInputText class="normal-input" />
            </div>

            <div class="col-span-4">
                <label class="normal-label">
                    <span class="red-color-text">* </span>
                    <span>{{ 'registerCondition.dropdown.ruleCondition'|transloco }} :</span>
                </label>
                <p-dropdown
                    [options]="ruleConditionOptions"
                    [(ngModel)]="ruleCondition"
                    optionValue="code"
                    optionLabel="name"
                    class="normal-dropdown"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>

            <div class="col-span-4">
                <label class="normal-label">
                    <span>{{ 'registerCondition.dropdown.functionType'|transloco }} :</span>
                </label>
                <p-dropdown
                    [options]="functionTypeOptions"
                    [(ngModel)]="functionType"
                    optionValue="code"
                    optionLabel="name"
                    class="normal-dropdown"
                    (keydown.enter)="onKeydown($event)">
                </p-dropdown>
            </div>

            <div class="col-span-4">
                <label class="normal-label"><span>{{ 'registerCondition.input.status'|transloco }} :</span></label>
                <p-toggleswitch [(ngModel)]="status" (keydown.enter)="onKeydown($event)"/>
            </div>
        </div>

        <!-- پنل پیام -->
        <p-panel header="{{'editCondition.header.assignmentMessage'|transloco}}" class="mt-6">
            <div class="grid grid-cols-12 in-panel">
                <div class="col-span-4 ">
                    <label class="normal-label"><span>{{ 'editCondition.detail.messageId' | transloco }} :</span></label>
                    <div class="text-sm">{{ messageId }}</div>
                </div>
                <div class="col-span-4 ">
                    <label class="normal-label"><span>{{ 'editCondition.detail.titleMessage' | transloco }} :</span></label>
                    <div class="text-right">
                    <div class="text-sm">{{ title }}</div>
                    </div>
                </div>
                <div class="col-span-4  flex justify-start items-center gap-0.5 h-12  rtl:flex-row-reverse">
                    <button (click)="showMessage()"
                            class="bg-green-500 border-green-500 text-white w-8 h-8 mr-2 rounded-2xl flex items-center justify-center"
                            pButton icon="pi pi-external-link"
                            matTooltip="{{ 'registerRule.tooltip.chooseMessage' | transloco }}">
                    </button>
                    <button matTooltip="{{ 'registerRule.tooltip.deleteMessage' | transloco }}"
                            (click)="deleteMessage()"
                            class="bg-red-500 border-red-500 text-white w-8 h-8 rounded-2xl flex items-center justify-center "
                            pButton icon="pi pi-trash">
                    </button>
                </div>
                <div class="col-span-4 ">
                    <label class="normal-label"><span>{{ 'editCondition.detail.tableId' | transloco }} :</span></label>
                    <div class="text-sm">{{ tableId | tableId }}</div>
                </div>
                <div class="col-span-4 ">
                    <label class="normal-label"><span>{{ 'editCondition.detail.faMessage' | transloco }} :</span></label>
                    <div class="text-sm">{{ text }}</div>
                </div>
            </div>
        </p-panel>

        <!-- دکمه‌ها -->
        <div class="w-full mt-4 text-left p-4">
            <button pButton severity="success"  label="{{'button.save' | transloco}}" icon="pi pi-save"
                    class="normal-button" (click)="onRegister()"></button>&nbsp;
            <button pButton label="{{'button.cancel' | transloco}}" severity="danger" [outlined]="true"
                    class="normal-button" icon="pi pi-times" (click)="onCancel()"></button>

        </div>
</div>
<p-dialog [style]="{ 'width': '55%' }" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" [resizable]="true">
    <p-panel header="{{ 'rule.dialog.header.chooseMessage' | transloco }}">

        <div class="grid grid-cols-12 md:grid-cols-12 lg:grid-cols-12 gap-4 my-2 mx-5">
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">* </span>
                    <span>{{ 'rule.dialog.input.codeMessage' | transloco }} :</span>
                </label>
                <input  [(ngModel)]="codeMessage" (keydown.enter)="onKeydownSearch($event)"
                       pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">* </span>
                    <span>{{ 'rule.dialog.input.messageTitle' | transloco }} :</span>
                </label>
                <input [(ngModel)]="titleMessage" (keydown.enter)="onKeydownSearch($event)"
                       pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label">
                    <span class="text-red-500">*</span>
                    <span>{{ 'rule.dialog.input.faMessage' | transloco }} :</span>
                </label>
                <input [(ngModel)]="textMessage" (keydown.enter)="onKeydownSearch($event)"  [pKeyFilter]="cust_alphanumFa"
                       pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">
                <label class="normal-label"><span>{{ 'rule.dialog.input.enMessage' | transloco }} :</span></label>
                <input [(ngModel)]="textENMessage" (keydown.enter)="onKeydownSearch($event)"
                       [pKeyFilter]="cust_alphanumEn"
                       pInputText class="border rounded p-2 normal-input">
            </div>
            <div class="col-span-4">

                <label class="normal-label">
                    <span class="text-red-500">*</span>
                    <span>{{ 'rule.dialog.dropdown.tableId' | transloco }} :</span></label>
                <p-dropdown
                    class="normal-dropdown"
                    [options]="categoryMessages"
                    optionValue="code"
                    optionLabel="name"
                    [(ngModel)]="tableIdMessage"
                    (onChange)="search()">
                </p-dropdown>
            </div>
            <div class="col-span-4">

                <label class="normal-label">
                    <span class="text-red-500">* </span>
                    <span>{{ 'rule.dialog.dropdown.typeMessages' | transloco }} :</span></label>
                <p-dropdown
                    class="normal-dropdown"
                    [options]="typeMessages"
                    optionValue="code"
                    optionLabel="name"
                    [(ngModel)]="typeMessage"
                    (onChange)="search()">
                </p-dropdown>
            </div>
            <div class=" sm:flex sm:col-span-4 justify-start items-center gap-2 h-12 mt-5-5 ">
                <button pButton
                        class="normal-button"
                        dir="ltr"
                        label="{{ 'rule.dialog.button.registerChooseMessage' | transloco }}"
                        icon="pi pi-check"
                        (click)="onRegisterMessage()"></button>
            </div>
            <div class=" sm:flex sm:col-span-8 justify-start items-center gap-2 h-12 mt-5-5 rtl:flex-row-reverse">

                <button pButton
                        label="{{ 'button.clear' | transloco }}"
                        class="my-1 px-4 py-2 border normal-button"
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        (click)="clear()"></button>
                <button pButton
                        label="{{ 'button.search' | transloco }}"
                        class="w-[110px] my-1 px-4 py-2 text-white rounded"
                        icon="pi pi-search"
                        (click)="search()"></button>
            </div>
        </div>

        <div class="my-10"></div>

        <div>
            <p-table [value]="messagesList"
                     selectionMode="single"
                     [paginator]="true"
                     [rows]="rows"
                     [showCurrentPageReport]="true"
                     [(first)]="first"
                     [currentPageReportTemplate]="paginationLabel"
                     [rowsPerPageOptions]="[5,10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-right">
                            {{ 'rule.dialog.table.header.messageId' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.codeMessage' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.titleMessage' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.tableId' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.isSystemMessage' | transloco }}</th>
                        <th>{{ 'rule.dialog.table.header.operation' | transloco }}</th>
                    </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-messages>
                    <tr [pSelectableRow]="messages">
                        <td class="text-right">{{ messages.messageId }}</td>
                        <td [pTooltip]="messages.code"
                            [tooltipDisabled]="messages.code ? messages.code.length < 20 : false">
                            {{ messages.code | moreChar19 }}
                        </td>
                        <td [pTooltip]="messages.title"
                            [tooltipDisabled]="messages.title ? messages.title.length < 20 : false">
                            {{ messages.title | moreChar19 }}
                        </td>
                        <td>{{ messages.tableId | messagesCategory }}</td>
                        <td>
                            <img *ngIf="messages.isSystemMessage==1" class="w-6 h-6 object-contain "
                                 src="assets/icons/correct.jpeg">
                            <img *ngIf="messages.isSystemMessage==0"  class="w-6 h-6 object-contain "
                                 src="assets/icons/cross.jpeg" >
                        </td>
                        <td dir="ltr" class="flex justify-end items-center">
                            <button pButton label="{{'rule.dialog.table.button.chooseMessage'|transloco}}" icon="pi pi-check"
                                    (click)="selectedMessage(messages)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-panel>
</p-dialog>
